{% load i18n simulabio_tags %}

<h4>{{animal_label}}</h4>
<div>
    {% for field in form %}
    {% if forloop.first %}<table>
        <tr><th>{{ field.label }}{% trans ":" %}</th><td>{{field}}</td></tr>
    </table>{% endif %}

    {% ifequal forloop.counter0 1 %}
    <table class='inline-table' id="litter-table">
    <tr><th colspan='12'>{% trans "Stall days"%}</th></tr>
    <tr>{% for innerfield in form %}{% if not forloop.first %}
        <th>{{innerfield.label}}</th>
    {% endif %}{% endfor %}</tr><tr>
    {% endifequal %}

    {% if not forloop.first %}
        <td>{{field}}</td>
    {% endif %}

    {% if forloop.last %}
    </tr></table>{% endif %}
    {% endfor %}
</div>
{% if comment_form and comment_form.instance and comment_form.instance.comment %}
<div class='comment'>
<h4>{% trans "Comment" %}</h4>
{{comment_form.instance.comment}}
</div>
{% endif %}
