{% load i18n simulabio_tags %}
<pdf:nextpage/>

<h2>{% trans "Milk production" %}</h2>
<div>
    <p class='form'>
    <table class='inline-table'>
    {% year_forms year_forms %}
    </table>
    </p>
</div>
{% if comment_form and comment_form.instance and comment_form.instance.comment %}
<div class='comment'>
<h4>{% trans "Comment" %}</h4>
{{comment_form.instance.comment}}
</div>
{% endif %}
