{% load i18n simulabio_tags table_field %}
<pdf:nextpage/>
<h1>{% trans "Animals" %}</h1>
<h2>{% trans "Herd detail" %}</h2>
<div>
    <table class='inline-table' id='herd-table'>
    {% year_forms year_forms "" 1 1 '' 0 %}
    </table>
</div>
{% if comment_form and comment_form.instance and comment_form.instance.comment %}
<div class='comment'>
<h4>{% trans "Comment" %}</h4>
{{comment_form.instance.comment}}
</div>
{% endif %}
