{% load i18n simulabio_tags %}

<h3>{{year_label}}</h3>
<div>
    {% for harvest_category_study in object_list %}
    {% if harvest_category_study.harvest_category_usage_error %}
    <div class="warning ui-state-error ui-corner-all">
        <p><span class="ui-icon ui-icon-alert"></span><span>{% trans "No harvest provide: " %}{{harvest_category_study.harvest_category_usage_error.harvest_category}} / {{harvest_category_study.harvest_category_usage_error.usage_type}}.</span></p>
    </div>{% endif %}
    {% endfor %}

    <table class='inline-table' id='animals-primary-balance'>
    <tr><th>{% trans "Harvest"%}</th><th>{% trans "Needs" %}</th><th>{% trans "Yield" %}</th><th>{% trans "Balance" %}</th><th>{% trans "Autonomy (%)" %}</th></tr>
    {% for harvest_category_study in object_list %}
    {% if harvest_category_study.area_needed or harvest_category_study.area %}<tr>
        <td class='str'>{{harvest_category_study.harvest_category}}</td>
        <td>{{harvest_category_study.area_needed|floatformat:"1"}}</td>
        <td>{{harvest_category_study.area|floatformat:"1"}}</td>
        <td class='delta'>{{harvest_category_study.balance|floatformat:"1"}}</td>
        <td>{% if harvest_category_study.autonomy_pourc %}{{harvest_category_study.autonomy_pourc|floatformat:"0"}} %{% endif %}</td>
    </tr>{% endif %}
    {% endfor %}
    </table>
</div>
{% if comment_form and comment_form.instance and comment_form.instance.comment %}
<div class='comment'>
<h4>{% trans "Comment" %}</h4>
{{comment_form.instance.comment}}
</div>
{% endif %}
