{% load i18n simulabio_tags inline_formset %}

<h4>{{harvest_label}}</h4>

{% if not forms %}
<div>
    <div class="warning ui-state-error ui-corner-all">
        <p><span class="ui-icon ui-icon-alert"></span>
        <span>{% trans "There are missing data to perform balance fodder. Verify harvests and animal feeds." %}</span></p>
    </div>
</div>
{% else %}
<div id='balance-fodder'>
<table id='balance-fodder-table'>
<tr class='header'>
    <th colspan='2'>{% trans "Needs" %}</th>
    <td class='spaced-vert'>&nbsp;</td>
    <th colspan='2'>{% trans "Supplies" %}</th>
    <td class='spaced-vert' rowspan='2'>&nbsp;</td>
    <th rowspan='2'>{% trans "Balance" %}</th>
</tr>
<tr class='header'>
    <th>{% trans "Usage" %}</th>
    <th>{% trans "Need<br/>(t&nbsp;MS)" %}</th>
    <td class='spaced-vert'>&nbsp;</td>
    <th>{% trans "What (left/max)" %}</th>
    <th>{% trans "Quantity<br/>(t&nbsp;MS)" %}</th>
</tr>
{% for cat, usages, length in forms %}
<tr>
    <td class='spaced-horiz' colspan='2'>&nbsp;</td>
    <td class='spaced'>&nbsp;</td>
    <td class='spaced-horiz' colspan='2'>&nbsp;</td>
    <td class='spaced'>&nbsp;</td>
    <td class='spaced-horiz'>&nbsp;</td>
</tr>
<tr>
    {% for usagetype, feed_need, formsets, len_form in usages %}
        <th rowspan='{{len_form}}'>{{usagetype}}</th>
        <td rowspan='{{len_form}}' class='align-right'>{{feed_need.amount}}</td>
        <td rowspan='{{len_form}}' class='spaced-vert'>&nbsp;</td>
        {% for formset in formsets %}
            {% ifequal forloop.counter0  0 %}
        <th colspan='2'>{% trans "Farm production" %}</th>{% else %}
        <th colspan='2'>{% trans "Extra supply" %}</th>
            {% endifequal %}
            {% if  forloop.first %}
            <td rowspan='{{len_form}}' class='spaced-vert'>&nbsp;</td>
            <th rowspan='{{len_form}}' class='align-center simple'>
                <p{% if feed_need.balance < 0 %} class='negative'{%endif%}>{{feed_need.balance}}</p>
                <p class='{% if feed_need.balance < 0 %}negative {%endif%} pourc'>{{feed_need.balance_pourc}} %</p>
            </th>
            {% endif %}
        </tr>
        <tr>
        {{ formset.management_form }}
        {% inline_formset ' ' formset False 1 %}
        </tr>
        <td colspan='2' class='align-right'></td>
        </tr>
        {% endfor %}
    {% endfor %}
</tr>
{% endfor %}
</table>
</div>
{% endif %}
{% if comment_form and comment_form.instance and comment_form.instance.comment %}
<div class='comment'>
<h4>{% trans "Comment" %}</h4>
{{comment_form.instance.comment}}
</div>
{% endif %}

