{% load i18n simulabio_tags inline_formset table_field range %}
<pdf:nextpage/>
<h2>{% trans "Expenses" %}</h2>
<h4>{% trans "General expenses" %}</h4>
<div>
    <p class='form'>
    <table class='inline-table'>
    {% year_forms year_forms.0 %}
    </table>
    </p>
</div>
<h4>{% trans "Purchases" %}</h4>
<div>
    <p class='form'>
    <table class='inline-table' id='purchases-table'>
    <caption>{% trans "Purchases (price)" %}</caption>
    <tr>
        <th></th>
        <th>{% trans "Diag." %}</th>
        {% for idx in study.transition_years|get_range1 %}
        <th>n + {{idx}}</th>{% endfor %}
        <th>{% trans "Project" %}</th>
    </tr>
    {% for year_form in year_forms %}
        {% if year_form.0 and year_form.0.extra_supply %}
        {% year_forms year_form '' 1 0 'extra_supply' 0 %}
        {% endif %}
    {% endfor %}
    </table>
    </p>
</div>
{% if year_forms.1 %}
<h4>{% trans "Extra expenses" %}</h4>
<div>
    <p class='form'>
    <table class='inline-table'>
    <tr>
        <th>{% trans "Extra expenses" %}</th>
        {% for step in step_list %}<th>{{step.label}}</th>{% endfor%}
    </tr>
    {% for year_form in year_forms %}
        {% if year_form.0 and year_form.0.name %}
        {% year_forms year_form '' 1 0 %}
        {% endif %}
    {% endfor %}
    </table>
    </p>
</div>
{% endif %}
{% if comment_form and comment_form.instance and comment_form.instance.comment %}
<div class='comment'>
<h4>{% trans "Comment" %}</h4>
{{comment_form.instance.comment}}
</div>
{% endif %}
