{% load i18n simulabio_tags inline_formset table_field range %}
<pdf:nextpage/>
<h2>{% trans "Revenues" %}</h2>
<h4>{% trans "Base revenues" %}</h4>
<div>
    <p class='form'>
    <table class='inline-table'>
    {% year_forms year_forms.0 %}
    </table>
    </p>
</div>
{% if year_forms.1 %}
<h4>{% trans "Extra revenues" %}</h4>
<div>
    <p class='form'>
    <table class='inline-table'>
        <tr>
            <th rowspan='2'>{% trans "Revenue" %}</th>
            <th colspan='3'>{% trans "Diag." %}</th>
            {% for idx in study.transition_years|get_range1 %}
            <th colspan='3'>n + {{idx}}</th>{% endfor %}
            <th colspan='3'>{% trans "Project" %}</th>
        </tr>
        <tr>
            <th>{% trans "Price" %}</th>
            <th>{% trans "Quantity" %}</th>
            <th>{% trans "Total" %}</th>
            {% for idx in study.transition_years|get_range1 %}
            <th>{% trans "Price" %}</th>
            <th>{% trans "Quantity" %}</th>
            <th>{% trans "Total" %}</th>{% endfor %}
            <th>{% trans "Price" %}</th>
            <th>{% trans "Quantity" %}</th>
            <th>{% trans "Total" %}</th>
        </tr>
        {% trans "Extra revenue" as extra_revenues_lbl %}
        {% for year_form in year_forms %}
            {%  if forloop.counter0 %}
                {% year_forms year_form extra_revenues_lbl 1 0 'name' 0 3 %}
            {% endif %}
        {% endfor %}
    </table>
    </p>
</div>
{% endif %}
{% if comment_form and comment_form.instance and comment_form.instance.comment %}
<div class='comment'>
<h4>{% trans "Comment" %}</h4>
{{comment_form.instance.comment}}
</div>
{% endif %}
