{% load i18n simulabio_tags inline_formset table_field %}
<pdf:nextpage/>

<h2>{% trans "Initial state" %}</h2>
<div>
    <table>
    {% table_field initial_form.total_product %}
    {% table_field initial_form.operational_charges %}
    <td>{% trans "Including:" %}</td>
    {{ formset.management_form }}
    {% inline_formset ' ' formset False %}
    {% table_field initial_form.structural_charges %}
    {% table_field initial_form.depreciation %}
    {% table_field initial_form.annuities %}
    {% table_field initial_form.share_capital %}
    {% table_field initial_form.interests %}
    </table>
</div>

{% if comment_form and comment_form.instance and comment_form.instance.comment %}
<div class='comment'>
<h4>{% trans "Comment" %}</h4>
{{comment_form.instance.comment}}
</div>
{% endif %}


