{% load i18n simulabio_tags inline_formset range %}
<pdf:nextpage/>
<h1>{% trans "Economy" %}</h1>

<h2>{% trans "Crop prices" %}</h2>
<div>
    <table class='inline-table' id='crop-prices'>
    <thead>
    <tr>
        <th>{% trans "Harvest" %}</th>
        <th>{% trans "Usage" %}</th>
        {% for idx in study.transition_years|get_range1 %}
        <th>n + {{idx}}</th>{% endfor %}
        <th>{% trans "Project" %}</th>
    </tr>
    </thead>
    {% inline_formset ' ' formset False %}
    {% if not formset.forms %}<tr><td class='emphasis' colspan='5'>{% trans "No harvest usage to be sold" %}</td></tr>{% endif %}
    </table>
</div>

{% if comment_form and comment_form.instance and comment_form.instance.comment %}
<div class='comment'>
<h4>{% trans "Comment" %}</h4>
{{comment_form.instance.comment}}
</div>
{% endif %}
