{% load i18n simulabio_tags inline_formset range %}
<pdf:nextpage/>
<h2>{% trans "Crop selling" %}</h2>
<div>
    <table class='inline-table' id='crop-selling'>
    <thead>
    <tr>
        <th rowspan='2'>{% trans "Harvest usage" %}</th>
        <th colspan='2'>{% trans "Forage" %}</th>
        <th colspan='2'>{% trans "Grain" %}</th>
        <th colspan='2'>{% trans "Straw" %}</th>
    </tr>
    <tr>
        <th>{% trans "Available (t)" %}</th>
        <th>{% trans "Sold (t)" %}</th>
        <th>{% trans "Available (t)" %}</th>
        <th>{% trans "Sold (t)" %}</th>
        <th>{% trans "Available (t)" %}</th>
        <th>{% trans "Sold (t)" %}</th>
    </tr>
    </thead>
    {% inline_formset ' ' formset False False 1 %}
    {% if not formset.forms %}<tr><td class='emphasis' colspan='5'>{% trans "No harvest to be sold" %}</td></tr>{% endif %}
    </table>
</div>
{% if comment_form and comment_form.instance and comment_form.instance.comment %}
<div class='comment'>
<h4>{% trans "Comment" %}</h4>
{{comment_form.instance.comment}}
</div>
{% endif %}

