{% load i18n simulabio_tags inline_formset %}
<pdf:nextpage/>
<h2>{% trans "Plots" %}</h2>
<div>
<div id="plot_list_div">
    {% plot_table study 'plot_list' year_2 year_1 year object_list %}
</div>
</div>
{% if comment_form and comment_form.instance and comment_form.instance.comment %}
<div class='comment'>
<h4>{% trans "Comment" %}</h4>
{{comment_form.instance.comment}}
</div>
{% endif %}
