{% load i18n range simulabio_tags %}
<pdf:nextpage/>
<h1>{% trans "Primary balance" %}</h1>
<h2>{% trans "Primary balance: production" %}</h2>
<div>
    <table class='inline-table' id='harvest-production'>
    <tr>
        <th rowspan='3'>Cultures</th><th colspan='4'>Diag</th><th rowspan='3'>Variation Diag/Projet</th>
        {% for year in study.transition_years|get_range1 %}<th colspan='4'>n + {{year}}</th>{% endfor %}
        <th colspan='4'>Projet</th>
    </tr>
    <tr>
        <th>SAU</th><th colspan='3'>Production</th>
        {% for idx in study.transition_years|get_range %}<th>SAU</th><th colspan='3'>Production</th>{% endfor %}
        <th>SAU</th><th colspan='3'>Production</th>
    </tr>
    <tr>
        <th>Ha</th><th>Fourrage</th><th>Grain</th><th>Paille</th>
        {% for idx in study.transition_years|get_range %}<th>Ha</th><th>Fourrage</th><th>Grain</th><th>Paille</th>{% endfor %}
        <th>Ha</th><th>Fourrage</th><th>Grain</th><th>Paille</th>
    </tr>
    {% for harvestsetting in object_list %}
    <tr>
        <th>{{harvestsetting.harvest}}</th>
        {% with hs_year=harvestsetting.harvestsetting_diag %}
        <td>{{hs_year.surface_total|floatformat:"1"}}</td><td>{{hs_year.forage_yield_total|floatformat:"1"}}</td><td>{{hs_year.grain_yield_total|floatformat:"1"}}</td><td>{{hs_year.straw_yield_total|floatformat:"1"}}</td>
        {% endwith %}
        <td class='delta'>{{harvestsetting.surface_delta|floatformat:"1"}}</td>
        {% for hs_year in harvestsetting.transition_years %}
        <td>{{hs_year.surface_total|floatformat:"1"}}</td><td>{{hs_year.forage_yield_total|floatformat:"1"}}</td><td>{{hs_year.grain_yield_total|floatformat:"1"}}</td><td>{{hs_year.straw_yield_total|floatformat:"1"}}</td>
        {% endfor %}
        {% with hs_year=harvestsetting.harvestsetting_project %}
        <td>{{hs_year.surface_total|floatformat:"1"}}</td><td>{{hs_year.forage_yield_total|floatformat:"1"}}</td><td>{{hs_year.grain_yield_total|floatformat:"1"}}</td><td>{{hs_year.straw_yield_total|floatformat:"1"}}</td>
        {% endwith %}
    </tr>
    {% endfor %}
    </table>
</div>
{% if comment_form and comment_form.instance and comment_form.instance.comment %}
<div class='comment'>
<h4>{% trans "Comment" %}</h4>
{{comment_form.instance.comment}}
</div>
{% endif %}
