{% load i18n simulabio_tags inline_formset %}

<h3>{% for rot in rotations %}{% ifequal rot.pk rotation.pk%}
    {{rot.name}}{% endifequal %}{% endfor %}</h3>
<div id='rotation_templates'>
    {% if rotation %}
    <div id='rotation_template_container'>
    <ul id='rotation_template_harvests'>
    {% for rd_harvest in rotation.rotation_dominant_harvest.all %}
        <li{%if forloop.last%} class='last-item'{%endif%}>{{rd_harvest.harvest.name}}</li>
    {% endfor %}
    </ul>
    </div>
    {%  if rotation.rotation_dominant_template.remark %}
    <div class='centered ui-widget-content ui-corner-all' id='remark'>
        {{rotation.rotation_dominant_template.remark}}
    </div>
    {% endif %}
    {% endif %}
</div>

{% if rotation %}
<h4>{% trans "Associated plots" %}</h4>
<div class='centered ui-widget-content ui-corner-bottom'>
{% if object_list %}
<div id="rotation_list_div">
    {% plot_table study 'plot_list' year_2 year_1 year object_list true %}
</div>
{% endif %}
</div>
{% endif %}

{% if comment_form and comment_form.instance and comment_form.instance.comment %}
<div class='comment'>
<h4>{% trans "Comment" %}</h4>
{{comment_form.instance.comment}}
</div>
{% endif %}
