{% load i18n simulabio_tags inline_formset %}
<pdf:nextpage/>
<h1>{% trans "Harvests" %}</h1>
<h2>{% trans "Harvest settings" %}</h2>
{% if study.transition_years %}
<h3>{% trans "Transition years" %}</h3>
<div>
    <p class='form'>
    <table class='inline-table'>
    <thead>
    <tr>
      <td></td>{% for field in transition_form %}
      <th>{{field.label}}</th>{% endfor%}
    </tr>
    </thead>
    <tbody>
    <tr>
      <th>{% trans "Yield type" %}</th>{% for field in transition_form %}
      <td>{{field}}</td>{% endfor%}
    </tr>
    </tbody>
    </table>
    </p>
</div>{% endif %}
<h3>{% trans "Yield settings" %}</h3>
<div>
    <table class='inline-table'>
    <thead>
    <tr>
        <th rowspan='2'>{% trans "Harvest" %}</th>
        <th colspan='2'>{% trans "Forage yield" %}</th>
        <th colspan='2'>{% trans "Grain yield" %}</th>
        <th colspan='2'>{% trans "Straw yield" %}</th>
    </tr>
    <tr>
        <th>{% trans "Diagnostic" %}</th>
        <th>{% trans "Project" %}</th>
        <th>{% trans "Diagnostic" %}</th>
        <th>{% trans "Project" %}</th>
        <th>{% trans "Diagnostic" %}</th>
        <th>{% trans "Project" %}</th>
    </tr>
    </thead>
    {% inline_formset ' ' formset False %}
    </table>
</div>
{% if comment_form and comment_form.instance and comment_form.instance.comment %}
<div class='comment'>
<h4>{% trans "Comment" %}</h4>
{{comment_form.instance.comment}}
</div>
{% endif %}
