{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <title>{% block title %}{% if APP_NAME %}{{APP_NAME}}{% else %}SimulaBIO{%endif%}{% endblock %}
    </title>
    {% block extra_head %}
    {% endblock %}
    <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}simulabio/css/print.css" />
</head>
<body{% block bodyclass%}{% if step %} class='body-steps body-step-{{ step }}'{% endif%}{% endblock %}>
<div id="pdfheader">
Simulabio &ndash; {{farm}} &ndash; {{study}}
</div>
<div id="content"{% if content_class %} class='{{content_class}}'{%endif%}>
  {% block content %}{{content|safe}}{% endblock %}
</div>
<div id="pdffooter">
&ndash; <pdf:pagenumber/> &ndash;
</div>
</body>

</html>

