{% load i18n %}
<div id='main_page'>
<p class='farm'>{% trans "Farm" %}{% trans ":" %} {{study.farm}}</p>
<p class='study'>{% trans "Study" %}{% trans ":" %} {{form.name}} &ndash; {{form.year}}</p>
</div>
<pdf:nextpage/>
<h1>{% trans "Table of contents" %}</h1>
<div>
   <pdf:toc />
</div>
<pdf:nextpage/>
<div class='simple_page'>
<h2>{% trans "Farm" %}{% trans ":" %} {{study.farm}}</h2>
<h3>{% trans "Study" %}{% trans ":" %} {{form.name}} &ndash; {{form.year}}</h3>
{% if comment_form and comment_form.instance and comment_form.instance.comment %}
<div class='comment'>
<h4>{% trans "Comment" %}</h4>
{{comment_form.instance.comment}}
</div>
{% endif %}
</div>
