{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div id='login-form' class='window'>
<div class='form'>
<h4>Bienvenue sur Simulabio</h4>
<h4 class='subtitle'>Le logiciel d'aide à la décision au changement de système</h4>
<strong class='error'>Version de démonstration réinitialisée toutes les heures</strong>
<img src="{{STATIC_URL}}/simulabio/img-new/icons/login.png"/>
<form method="post" action=".">{% csrf_token %}
<table id='login'>
  <caption>Identifiez vous</caption>
{{ form.as_table }}
</table>
  <input type="hidden" name="next" value="{{ next }}" />
<strong class='error'>
    Nom d'utilisateur : demo / Mot de passe : demo
</strong>
<p class='form'>
    <input type="submit" value="{% trans 'Log in' %}" />
</p>
</form>
</div>
<div class='info'>
{% comment %}<p class='form'>{% trans "Forgot password?" %} <a href="{% url auth_password_reset %}">{% trans "Reset it" %}</a></p>
<p class='form'>{% trans "Not member?" %} <a href="{% url registration_register %}">{% trans "Register" %}</a></p>{% endcomment %}
</div>
</div>
{% endblock %}
