@page {
  size: a4 portrait;
  margin: 2.5cm 1cm 2.5cm 1cm;
  @frame footer {
    -pdf-frame-content: pdffooter;
    bottom: 1cm;
    margin-left: 1cm;
    margin-right: 1cm;
    height: 1cm;
  }
  @frame header {
    -pdf-frame-content: pdfheader;
    top: 1.2cm;
    margin-left: 1cm;
    margin-right: 1cm;
    height: 1.5cm;
  }
}

h1{
    text-align:center;
    font-size:2em;
}

label{
    display:inline;
    font-weight:bold;
}

table{
    margin:10px;
    width:100%;
    border: none;
    border-collapse:collapse;
}

caption{
    display:block;
    text-align:center;
}

th{
    text-align:center;
    border-bottom:2px solid #459e00;
    padding-top:4px;
}

td{
    margin:0;
    padding:0;
    padding-top:4px;
    text-align:right;
    border:1px solid #EEE;
    border-top:none;
    font-size:0.9em;
}

.link{
    display:None;
}

.string{
    text-align:left;
}

.no_items{
    text-align:center;
    font-style:italic;
}

p{
    margin:0.2em;
}

#pdffooter, #pdfheader{
    text-align:center;
}

#pdfheader{
    font-weight:bold;
    width:100%;
    border-bottom:1px solid #459e00;
}

#main_page{
    font-size:3em;
    margin-top:5em;
    text-align:center;
    font-weight:bold;
    padding:1em;
}

#main_page p.farm{
    display:block;
}

.simple_page p,
#main_page p{
    display:inline;
}

pdftoc {
    color: #666;
}

pdftoc.pdftoclevel0 {
    color: #333;
    font-weight: bold;
    margin-top: 0.5em;
}

pdftoc.pdftoclevel1 {
    font-weight: bold;
    margin-left: 1em;
}

pdftoc.pdftoclevel2 {
    margin-left: 2em;
}

pdftoc.pdftoclevel3 {
    margin-left: 3em;
    font-style: italic;
}
