/* main grey */
body{
    background-color:#eff0ec;
}

.even, .even input
{
    background-color:#eee;
}

table.inline-table td input{
    border:1px solid #ccc;
}

table#balance-fodder-table tr th,
table#balance-fodder-table td,
table.inline-table td{
    background-color:transparent;
}

#main-menu #welcome,
#main-menu #authentification,
table#balance-fodder-table tr.header th,
.inline-table th{
    background-color:#aaa;
}

caption, h2, h3 {
    color:#225304;
}

table#animals-primary-balance td.delta,
table#harvest-production td.delta,
.ui-widget-content a, #farm-studies .new a,
a {
    color:#212121;
}

#main-study-menu li,
.window, .study-pages #content, #contener{
    border: 3px solid #777;
}

h4{
    text-align:center;
    font-variant:small-caps;
}

#farm-studies .new a, p a {
    font-weight:bold;
    text-decoration:underline;
}

body{
    background-image:url("../img-new/logo-big.png");
    background-repeat:no-repeat;
    background-position:center top;
}

body.study-pages{
    background-image:none;
}

.study-pages #content{
    width:auto;
    position:absolute;
    top:100px;
    left:120px;
    right:60px;
}

select{
    background: transparent;
    width: 154px;
    font-size: 16px;
    line-height: 1;
    border: 1px solid #999;
    border-radius: 0;
    height: 26px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type=password],
input[type=text]{
    border: 1px solid #999;
}

.ui-state-default, .ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default
.ui-state-error, .ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error
.ui-state-default, .ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default, .ui-widget-header{
    background-image:none;
}

#top{
    display:none;
}

.window{
    position:relative;
    background-color: #fff;
    margin-top:160px;
    margin-left:auto;
    margin-right:auto;
    padding: 1.5em;
    width: 500px;
}

#footer{
    display:none;
}

#message{
    position:absolute;
    width:100%;
    text-align:center;
    z-index:1000;
}

#message-close{
    text-decoration:none;
    position: absolute;
    right: 50px;
}

#message p{
    padding:0.3em;
}

#steps{
    position:absolute;
    top:-32px;
    left:30px;
}

#menu{
    position:absolute;
    top:20px;
    right:20px;
}

#harvest-link, #balance-link, #economy-link{
    margin-top:30px;
}

#welcome #menu{
    position:static;
}
#main-study-menu{
    position:absolute;
    padding:0;
    margin:0;
    border-style:none;
    border-width:0;
    box-shadow: none;
    -moz-border-radius:0;
    -webkit-border-radius: 0;
    border-radius:0;
    background-color:transparent;
    left:-71px;
    top:-3px;
}

#main-study-menu li{
    border-radius:10px 0 0 10px ;
}

.hidden{
    display:none;
}

/* study */

.inline-table th.amortization,
.study-gen #content{
    background-color:#eabb4f;
}

.menu #study-link{
    background-image:url('../img-new/icons/barn.png');
}

#main-study-menu li.ui-state-active#study-link{
    border-right-color: #eabb4f;
}

/* generic forms */

table.generic-form th,
table.generic-form td{
    padding:0.8em;
}

table.generic-form textarea{
    width:700px;
    height:100px;
}

/* harvests */

.harvests-gen #content{
    background-color:#f2e2c4;
}

.menu #harvest-link{
    background-image:url('../img-new/icons/wheat.png');
}

#main-study-menu li.ui-state-active#harvest-link{
    border-right-color: #f2e2c4;
}

/* animals */

.animals-gen #content{
    background-color:#bfa07a;
}

.menu #animals-link{
    background-image:url('../img-new/icons/cow.png');
}

#main-study-menu li.ui-state-active#animals-link{
    border-right-color: #bfa07a;
}

#pasturable{
    width:780px;
    margin-left:auto;
    margin-right:auto;
    border-collapse: collapse;
}

#pasturable td{
    border:1px solid #000;
    background-color:#fff;
}

#pasturable th{
    width:65px;
    border:1px solid #92D050;
    background-color:#92D050;
}

#pasturable td{
    text-align:center;
}

table#pasturable .subhead{
    text-align:left;
    font-size:0.8em;
    font-style:italic;
    border-left:1px solid #fff;
    border-right:1px solid #fff;
}

/* balances */

.balance-gen #content{
    background-color:#baca42;
}

.menu #balance-link{
    background-image:url('../img-new/icons/grass.png');
}

#main-study-menu li.ui-state-active#balance-link{
    border-right-color: #baca42;
}

/* economy */

.inline-table th.loan,
.economy-gen #content{
    background-color:#79bee3;
}

.menu #economy-link{
    background-image:url('../img-new/icons/euro.png');
}

#main-study-menu li.ui-state-active#economy-link{
    border-right-color: #79bee3;
}

#extra-revenues-table tbody th{
    min-width:100px;
}

body.study-pages #menu{
    top:-80px;
    right:-40px;
}

#login-form{
    padding: 1em;
    text-align:center;
}

#login-form h4{
    margin:0;
    padding:0;
}

.action-icon{
    padding:1em;
}

#welcome{
    text-align:center;
}

#contener{
    margin:30px;
    padding:30px;
    background-color:#fff;
    margin-top:0;
    padding-top:0;
}

#study-title,
#option-study-menu.menu,
#study-menu{
    position:absolute;
}

#study-title,
#option-study-menu.menu li,
#study-menu.menu li{
    margin-bottom:5px;
    height:19px;
    border: 3px solid #777;
}

#option-study-menu.menu li,
#study-menu.menu li{
    min-width:180px;
    width:auto;
    background-color:#ccc;
}

#option-study-menu.menu{
    right:0px;
    top:-4px;
}

#study-title{
    left:28px;
    top:-2px;
    padding: 0.4em 1em;
    background-color:#fff;
}

#study-menu.menu{
    left:30px;
    top:54px;
}

#study-menu.menu li{
    border-radius:10px 10px 0 0;
}

#study-title,
#option-study-menu.menu li{
    border-radius:0 0 10px 10px;
}

.menu{
    width:auto;
}

.overflow-box{
    max-width:90%;
    border:0;
    margin-left:auto;
    margin-right:auto;
}

.simple-overflow-box{
    border:0;
    overflow:auto;
}

#simple-economy, #full-economy, #harvest_category, #animals,
#eco-harvest, #eco-workshop{
}

#eco-harvest, #eco-workshop{
    top:125px;
}

.menu-tooltip{
    left:80px;
    background-color:#777;
}

.menu-tooltip:after{
    border-color: transparent #777 transparent transparent;
}

#help{
    top:auto;
    margin:20px;
    width:90%;
    max-height:80%;
    overflow:auto;
    background-color:#888;
    opacity:0.95;
    padding:1em;
}

#help-close:hover{
    color:#fff;
    background-color:#888;
}

#help li{
    padding:0.5em;
    margin:0 1em;
}

#help p{
    padding:0.5em 0;
}

#help:after{
    display:none;
    border-color: transparent transparent #888 transparent;
}

#help table{
    border-collapse: collapse;
    overflow:auto;
    display:block;
}

#help table th,
#help table td{
    border:1px solid white;
    padding:0.5em;
    min-width:150px;
}

#help table td{
    font-style:italic;
}

.vmenu-tooltip{
    background-color:#777;
    text-align:center;
    z-index:100;
    margin-left:-22px;
    margin-top:6px;
    display:none;
    position:absolute;
    width:120px;
    color:white;
    padding:5px;
    word-wrap:break-word;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    cursor:pointer;
}

.vmenu-tooltip:after{
    content:'';
    display:block;
    position:absolute;
    left:60px;
    top:-10px;
    width:0;
    height:0;
    border-color: transparent transparent #777 transparent;
    border-style: solid;
    border-width: 6px;
}

#menu ul{
    display:inline;
}

#menu ul li{
    display:inline-block;
}

#static-expenses-table td, #extra-revenues-table td,
#purchases-table td, #expenses-table td,
#revenues-table td, #harvest-expense td, #workshop-expense td,
#crop-selling td, #harvest-production td, #synthesis-table td{
    text-align:right;
    font-family: 'monospace';
}

#static-expenses-table input, #extra-revenues-table input,
#purchases-table input, #expenses-table input, #revenues-table input,
#harvest-expense input, #workshop-expense input, #crop-selling input,
#synthesis-table input{
    text-align:right;
}

.inline-table td.border-right,
table#balance-fodder-table.inline-table td.border-right{
    /*border-right:1px solid #ccc;*/
}

.inline-table th.border-right-bold,
table#balance-fodder-table.inline-table th.border-right-bold,
.inline-table td.border-right-bold,
table#balance-fodder-table.inline-table td.border-right-bold{
    /*border-right:2px solid #ccc;*/
}


.total-revenues, .operational-expenses, .fixed-expenses,
.total-revenue, .total-expenses, .gop, .current-result,
.total-disposable-income, .total-disposable-income-by-man-work-unit,
.gop-by-revenue{
    font-size:1.2em;
    font-weight:bold;
}

.inline-table td.production, .inline-table th.production,
.extra-revenues th, .extra-revenues,
.depreciation th, .financial-expenses th,
.depreciation, .financial-expenses,
.loans-capital th, .loans-interest th, .loans-total-annuity th,
.loans-capital, .loans-interest, .loans-total-annuity{
    background-color:#f2e2c4;
    color:#444;
}

#synthesis-table td{
    padding:0 18px;
}

table.inline-table {
    margin-left: 0;
    margin-right: 0;
}

.inline-table th.harvest{
    color:#000;
}

#expenses-table th.header,
#purchases-table th.header,
#revenues-table th.header,
#extra-revenues-table th.header,
#workshop-expense th.header,
#crop-selling th.header,
#crop-selling th.header2,
#harvest-production.inline-table th.header,
#harvest-expense th.header,
#harvest-expense tbody th{
    position: absolute;
    left: 66px;
    top: auto;
    border-right: 1px solid #fff;
    margin-top:-1px;
    height:16px;
}

#harvest-expense tbody th{
    width: 170px;
    text-align:left;
}

#crop-selling th.header{
    width: 74px;
}

#crop-selling th.header2{
    width: 80px;
    left: 146px;
}

#harvest-production.inline-table th.header{
    width: 65px;
}

#harvest-expense th.header.rowspan2{
    width:170px;
}

#expenses-table th.header,
#purchases-table th.header,
#revenues-table th.header,
#extra-revenues-table th.header,
#workshop-revenue th.header,
#workshop-expense th.header{
    width:200px;
    text-align:left;
}

#crop-selling th.header2.rowspan2,
#crop-selling th.header.rowspan2,
#harvest-expense th.header.rowspan2{
    height:36px;
}

#harvest-production.inline-table th.header.rowspan3{
    height:80px;
}

.firstcol-spacer{
    display:inline-block;
}

#expenses-table .firstcol-spacer,
#purchases-table .firstcol-spacer,
#revenues-table .firstcol-spacer,
#extra-revenues-table .firstcol-spacer,
#workshop-revenue .firstcol-spacer,
#workshop-expense .firstcol-spacer{
    width:205px;
}

#crop-selling .firstcol-spacer{
    width:165px;
}

#harvest-production .firstcol-spacer{
    width:63px;
}

#harvest-expense .firstcol-spacer{
    width:172px;
}

.inline-table td.delta, .inline-table th.delta,
.total-expenses th, .total-expenses{
    background-color:#eabb4f;
}

.vegetal-expenses th, .vegetal-expenses,
.vegetal-revenues th, .vegetal-revenues,
.inline-table th.sau, .inline-table td.sau,
.total-revenue th, .total-revenue{
    background-color:#baca42;
}

.bovine-workshop-revenues th, .bovine-workshop-revenues,
.bovine-workshop-expenses th, .bovine-workshop-expenses{
    background-color:#bfa07a;
}

.total-revenues, .operational-expenses,
.gop, .current-result, .gop-by-revenue{
    border:3px solid;
}

#extra-revenues-table input,
#purchases-table input, #expenses-table input, #revenues-table input,
#harvest-expense input, #workshop-expense input, #crop-selling input,
#synthesis-table input,
table.inline-table#crop-selling td input,
table.inline-table#crop-prices td input{
    border:1px solid #000;
    width:50px;
}
