*{margin: 0px; padding: 0px;}
html, body{height: 100%; width: 100%;}

/* fonts */
@font-face {
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 400;
    src: local("☺"),
        url("../fonts/Comfortaa.woff") format("woff");
}
@font-face {
    font-family: "Numans";
    font-style: normal;
    font-weight: 400;
    src: local("☺"),
        url("../fonts/Numans-Regular.woff") format("woff");
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata'),
       url("../fonts/Incosolata.woff") format("woff");
}

html body, .ui-widget{
    font-family: 'Numans';
}

#main-menu #welcome, #main-menu #help-button,
#farm-button, #app_name, .simulabio, h2, h3, h4{
    font-family: 'Comfortaa';
}

.ui-jqgrid tr th,
.ui-jqgrid tr.jqgrow td {
    font-family:'Inconsolata';
    font-size:1.1em;
}

th{
    font-size:0.9em;
}

/* background color */
.ui-widget-content .ui-state-highlight{
    background-color:#ff6e6e;
}

#main-menu #welcome,
#main-menu #authentification,
table#balance-fodder-table tr.header th,
.inline-table th{
    background-color:#459e00;
}

#help, #farm-studies, #top, .menu-tooltip{
    background-color:#000;
}

/*background-color:#459e00;*/

ul#rotation_template_harvests li{
    background-color:#f2f37a;
}

#switches, #footer, #main-study-menu,
table#balance-fodder-table tr th,
table#balance-fodder-table td,
table.inline-table td{
    background-color:#fff;
}

table#balance-fodder-table td.spaced-horiz,
table#balance-fodder-table td.spaced-vert,
table#balance-fodder-table td.spaced{
    background-color:transparent;
}

/* color  */
table#animals-primary-balance td.delta,
table#harvest-production td.delta,
.ui-widget-content a, #farm-studies .new a,
a {
    color:#459e00;
}
body{
    color:#61615C;
}
ul#rotation_template_harvests li{
    color:#000;
}
caption, h2, h3 {
    color:#225304;
}
button{
    color:#444;
}

#help, #main-menu a, #main-menu, #farm-studies a,
table#balance-fodder-table tr.header th,
.inline-table th{
    color:#fff;
}
.negative{
    color:#f00;
}

.positive{
    color:rgb(43, 189, 43);
}

.error{
    color:#f55;
}

/* border */

#main-study-menu, #footer, #switches,
table#balance-fodder-table,
table#balance-fodder-table th,
table#balance-fodder-table td{
    border-color:#CCC;
}

table#balance-fodder-table tr.header th,
.inline-table th,
.inline-table td{
    border-color:#fff;
}

/* jquery ui */
.ui-widget{
    font-size:0.9em;
}
.ui-button-text-only .ui-button-text{
    padding:0.3em 0.8em;
}

.ui-buttonset .ui-button{
    margin-right:-0.4em;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 11pt;
    margin:0;
}

a {
    text-decoration:none;
}

caption, h2, h3 {
    font-weight:bold;
}

.emphasis{
    font-style:italic;
}

h2{
    margin:0;
    font-size:1.2em;
    text-align:center;
}

h3{
    text-align:center;
    margin:1em 0 0.5em 0;
}

h4{
    padding:0.5em 0;
}

h4.ui-widget-header{
    margin-top:1em;
    margin-bottom:0;
    text-align:center;
    border-bottom-width:0;
    font-size:1.1em;
}

#app_name{
    font-size:3em;
    margin:0 60px;
    width:768px;
    padding:0;
    margin-left:auto;
    margin-right:auto;
    display:none;
}

form{
    margin-top:10px;
    width:100%;
}

.validate-bar{
    display:none;
}

table#balance-fodder-table,
table.inline-table{
    border-collapse:collapse;
    white-space:nowrap;
}

table#litter-table input{
    width:45px;
}

table.inline-table td,
table.inline-table th{
    border-width:1px;
    border-style:solid;
}

form table, table.inline-table{
    margin-left:auto;
    margin-right:auto;
}
form table input{
    width:70px;
}
form table.large input{
    width:140px;
}


form table th label{
    text-align:left;
}

.align-right{
    text-align:right;
}

.align-center{
    text-align:center;
}

.ui-dialog form table input{
    width:150px;
}

p.form,
p.validate{
    text-align:center;
    margin:0.5em 0;
}

.ui-jqgrid .ui-jqgrid-view{
    font-size:1.1em;
}

ul.list{
    width:300px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
}

label{display:block}

label:first-letter {
  text-transform: uppercase;
}

textarea{
    height:50px;
    width:150px;
}

textarea#id_comment{
    height:100px;
    width:60%;
}

#comment-form{
    text-align:center;
}

#comment-form label{
    margin-right:auto;
    margin-left:auto;
    display:block;
    text-align:center;
}

td{
    text-align:left;
}
td input{
    margin-left:auto;
    margin-right:auto;
    display:block;
}
.inline-table th{
    border-width:0;
    border-style:solid;
    padding:0.2em;
}

h4.ui-widget-header.first-block{
    margin-top:40px;
}

h4.ui-widget-header.first-block-3-menu{
    margin-top:78px;
}

table#balance-fodder-table{
    margin-left:auto;
    margin-right:auto;
}

table#balance-fodder-table .pourc{
    font-size:1.2em;
    font-weight:bold;
}

table#balance-fodder-table th{
    border-width:2px;
    border-style:solid;
    padding:0.4em;
}

table#balance-fodder-table td{
    border-width:1px;
    border-style:solid;
    padding:0.4em;
}

table#balance-fodder-table td.spaced{
    border-width:0;
}

table#balance-fodder-table td.spaced-vert{
    border-width:0;
    border-right-width:2px;
    border-left-width:2px;
}

table#balance-fodder-table td.spaced-horiz{
    border-width:0;
    border-top-width:2px;
    border-bottom-width:2px;
}

table#balance-fodder-table tr.header th{
    border-width:1px;
}
table#balance-fodder-table th.simple{
    font-weight:normal;
}

table#balance-fodder-table tr.header td.spaced{
    border-width:0;
}
table#balance-fodder-table{
    border-top-width:0;
}

table#balance-fodder-table input[type=text]{
    width: 50px;
}

table.large-table th,
table.large-table td{
    width:150px;
}

table.large-table input[type=text]{
    width:100px;
}

.hidden{
    display:none;
}

.ui-widget-content .ui-state-highlight{
    background-image:none;
}

#top{
    padding:0;
    width:100%;
    height:31px;
    position:fixed;
    z-index:20;
    box-shadow: 0px 0px 10px #000;
}

#main-menu div{
    text-align:center;
    z-index:15;
}

#main-menu #logo, #main-menu #welcome, #main-menu #farm-button,
#main-menu #authentification, #main-menu #help-button{
    display:block;
    height:21px;
    padding:5px 10px;
    top:0;
    float:right;
    min-width:100px;
}

#main-menu #welcome, #main-menu #help-button{
    font-weight:bold;
}

#main-menu #logo{
    width:170px;
}

#main-menu #logo, #main-menu #welcome, #main-menu #farm-button{
    float:left;
}

#main-menu-open, #main-menu-close{
    cursor:pointer;
    width:10px;
    line-height:80px;
    height:80px;
    background-repeat:no-repeat;
    color:transparent;
}

#main-menu-close{
    position:absolute;
    left:91px;
    top:170px;
    background-image:url("../img/fold-right-button.png");
}

#main-menu-open{
    display:none;
    position:fixed;
    top:224px;
    left:0;
    background-image:url("../img/fold-left-button.png");
}

#help-close, #help-button, #main-menu #farm-button{
    cursor:pointer;
}

#help, #farm-studies{
    display:none;
    position:fixed;
    width:250px;
    min-height:40px;
    color:white;
    padding:5px;
    top:50px;
    word-wrap:break-word;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    margin-bottom:2em;
    z-index:100;
}

#farm-studies{
    cursor:pointer;
}

#help{
    right:10px;
}

#help-close{
    position:fixed;
    top:30px;
    right:50px;
    font-weight:bold;
    border:1px solid #fff;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    padding:0.2em;
    line-height:10px;
    background-color:#fff;
    color:#888;
}

#farm-studies{
    left:310px;
}

/* CSS trick to do triangle */
#help:after, #farm-studies:after{
    content:'';
    display:block;
    position:absolute;
    top:-20px;
    width:0;
    height:0;
    border-color: transparent transparent #000 transparent;
    border-style: solid;
    border-width: 10px;
}

#farm-studies:after{
    left:40px;
}
#help:after{
    right:40px;
}

.menu{
    margin:2px;
    margin-left:auto;
    margin-right:auto;
    width:450px;
    padding:0;
    text-align:center;
}

.menu li{
    display:inline-block;
    width:100px;
    text-align:center;
    padding:0.4em 0.2em;
}

.menu-tooltip{
    z-index:100;
    display:none;
    position:absolute;
    width:120px;
    color:white;
    padding:5px;
    top:auto;
    left:100px;
    word-wrap:break-word;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    margin-bottom:2em;
    cursor:pointer;
}

/* CSS trick to do triangle */
.menu-tooltip:after{
    content:'';
    display:block;
    position:absolute;
    left:-12px;
    top:6px;
    width:0;
    height:0;
    border-color: transparent #000 transparent transparent;
    border-style: solid;
    border-width: 6px;
}

#switches{
    position:fixed;
    width:766px;
    z-index:10;
    top:32px;
    border-width:1px;
    border-style:solid;
    box-shadow: 0px 0px 5px #000;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius: 0 0 5px 5px;
    padding:5px 0;
}

#steps, #menu, #animals, #harvest_category{
}

#steps{
    top:38px;
}

#menu, #harvest_category{
    top:74px;
}

#animals{
    top:110px;
}

#action-background{
    height:100%;
    width:100%;
    left:0;
    position:fixed;
    background-repeat:no-repeat;
    background-position:right center;
    z-index:-100;
}
/*
.action-background-main{
    background-image:url('../img/bg/farm.png');
}

.action-background-harvest{
    background-image:url('../img/bg/harvest.png');
}

.action-background-animals{
    background-image:url('../img/bg/cow.png');
}

.action-background-balance,
.action-background-fodder-balance{
    background-image:url('../img/bg/scales.png');
}

.body-steps{
    background-repeat:no-repeat;
    background-position:90px 50px;
}

.body-step-P{
    background-image:url('../img/bg/project.png');
}

.body-step-D{
    background-image:url('../img/bg/diag.png');
}

.body-step-1, .body-step-2, .body-step-3,
.body-step-4, .body-step-5, .body-step-6,
.body-step-7, .body-step-8, .body-step-9{
    background-image:url('../img/bg/transition.png');
}
*/
#main-study-menu{
    width:70px;
    position:fixed;
    left:0;
    top:50px;
    padding:10px;
    padding-left:20px;
    border-width:1px 1px 1px 0;
    border-style:solid;
    box-shadow: 0px 0px 5px #000;
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}

#main-study-menu.menu li{
    display:block;
    margin-bottom:5px;
    height:50px;
    width:60px;
    background-repeat:no-repeat;
    background-position:center center;
}

#main-study-menu.menu li a{
    color:transparent;
}

.menu #study-link{
    background-image:url('../img/icons/barn.png');
}

.menu #harvest-link{
    background-image:url('../img/icons/wheat.png');
}

.menu #animals-link{
    background-image:url('../img/icons/cow.png');
}

.menu #balance-link{
    background-image:url('../img/icons/balance.png');
}

.menu #fodder-balance-link{
    background-image:url('../img/icons/fodder-balance.png');
}

.menu #economy-link{
    background-image:url('../img/icons/euro.png');
}

#content{
    width:768px;
    margin-right:auto;
    margin-left:auto;
    padding-top:90px;
}

.centered{
    padding:0.2em;
    margin-top:0;
    text-align:center;
    margin-right:auto;
    margin-left:auto;
}

.centered ul{
    text-align:left;
    margin-right:auto;
    margin-left:auto;
    width:250px;
}

.overflow-box{
    max-width:760px;
    overflow:auto;
}

#remark{
    margin:1em;
}

#container{
    height:auto;
    min-height:100%;
}

div#wrapper{
    min-height: 100%;
    margin: 0px auto;
    position: relative;
}

div#content{
    padding-bottom:120px;
}

div#footer{
    height: 50px;
    position: fixed;
    bottom: 0px;
    width:100%;
    border-top-width:1px;
    border-top-style:solid;
}

#footer_content{
    padding:0.5em;
    width:768px;
    font-size:0.9em;
    margin-left:auto;
    margin-right:auto;
}

.info.ui-state-highlight{
    background-color:inherit;
}
.info.ui-state-highlight,
.warning.ui-state-error{
    font-size:0.9em;
    padding:0.5em;
    margin:0.5em 2em;
}
.info.ui-state-highlight span,
.warning.ui-state-error span{
    display:inline-block;
    overflow:hidden;
}

/* jqgrid multi-line columns */
th.ui-th-column div{
    white-space:normal !important;
    height:auto !important;
    padding:2px;
}

/* specific forms */
#form_rotationdominant .inline-table th.small{
    width:40px;
}
#form_rotationdominant .inline-table input[readonly=readonly]{
    width:40px;
}
table#animals-primary-balance td.str{
    text-align:left;
    padding:0.1em;
}

table#harvest-production td,
table#animals-primary-balance td,
#form_rotationdominant .inline-table td{
    text-align:right;
    padding:0.2em;
}
table#harvest-production td{
    width:70px;
}

table#animals-primary-balance td{
    width:100px;
}

#plot_list_div, #rotation_list_div{
    width:700px;
    margin-right:auto;
    margin-left:auto;
    overflow-x:auto;
}

#harvest_plot_table_div{
    width:405px;
    margin-right:auto;
    margin-left:auto;
    overflow-x:auto;
}

#plot_list_div, #plot_form{
    display:none;
}

.ui-jqgrid #plot_list tr.jqgrow td {
    white-space:normal;
}

#rotation_template_container{
    margin-left:auto;
    margin-right:auto;
}

ul#rotation_template_harvests {
    padding:0;
    display:inline;
    background-image:url('../img/harvest_link.png');
    background-repeat:repeat-x;
    background-position:center center;
}

ul#rotation_template_harvests li{
    display:inline-block;
    padding:0.5em 1em;
    border-radius:2em;
    border:2px solid #000;
    margin:0.5em 1em 0.5em 0;
}
ul#rotation_template_harvests li.last-item{
    margin:0;
}

#rotation_template_remove_confirm{
    display:none;
}

.rotation-image{
    width:500px;
}

#feed_template_graph{
    height:300px;
    width:500px;
}

form.simple{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
form.simple label{
    display:inline-block;
    width:200px;
    text-align:left;
}

#animals_feed_update input[type=text]{
    width:50px;
}

#waiting{
    position:absolute;
    top:40%;
    right:45%;
    width:180px;
    height:100px;
    z-index:1000;
    background-color:#fff;
    border:3px solid #777;
    padding:0.5em 1em;
    display:none;
}

#waiting p{
    margin-top:50px;
    padding: 0 1em;
}

.ajax-loader {
    position: absolute;
    left: 50%;
    top: 34px;
    margin-left: -17px;
    margin-top: -17px;
    display: block;
}
