{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div id='login-form' class='window'>
<div class='form'>
<img src="{{STATIC_URL}}/simulabio/img-new/icons/login.png"/>
<p class='error'>
Vous êtes resté connecté depuis un autre ordinateur ou une autre localisation.
Une seule session peut être active par utilisateur.
</p>
<strong class='error'>Réinitialiser la session depuis ce poste ?</strong>
<form method="post" action=".">{% csrf_token %}
<p class='form'>
    <a href='{% url simulabio:reinit-session %}'>Réinitialiser</a>
</p>
</form>
ou
<form method="post" action=".">{% csrf_token %}
<p class='form'>
    <a href='{% url auth_logout %}'>Changer d'utilisateur</a>
</p>
</form>
</div>
</div>
{% endblock %}
