{% extends "base.html" %}
{% load i18n simulabio_tags %}

{% block bodyclass%} class='study-pages animals-gen'{% endblock %}

{% block extra_head %}
<!--[if lt IE 9]><script language="javascript" type="text/javascript" src="{{EXCANVAS_JS}}"></script><![endif]-->
    <link type="text/css" rel="stylesheet" href="{{JQUERY_SPINNER_CSS}}"/>
{% for CSS in JQPLOT_CSS %}
    <link type="text/css" rel="stylesheet" href="{{CSS}}"/>{% endfor %}
{% for JS in JQPLOT_JS %}
    <script language="javascript" type="text/javascript" src="{{JS}}"></script>{% endfor %}
    <script language="javascript" type="text/javascript" src="{{JQUERY_SPINNER_URL}}"></script>
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}simulabio/js/animals-feed.js"></script>
{% endblock %}

{% block top%}
    {% main_menu %}
{% switch 'steps' step_list step step_url %}
{% if study %}
    {% study_menu study 'animals' 'feed' %}
{% endif %}
<div id='action-background' class='action-background-animals'></div>
{% endblock %}

{% block content %}
<div id='contener'>
{% switch 'animals' animal_list animal animal_url animal_end_url %}
{% if not animal_list %}
<script type='text/javascript'>
    var feed_series;
    var feed_template_series;
</script>
<h4 class='ui-widget-header ui-corner-top'>{% trans "Feed" %}</h4>
<div class='centered ui-widget-content ui-corner-bottom'>
    <div class="warning ui-state-error ui-corner-all">
        <p><span class="ui-icon ui-icon-alert"></span>
        <span>{% trans "The herd is not defined for this year." %}</span></p>
    </div>
</div>
{% else %}
<script type='text/javascript'>
    var base_url = "{{base_url}}";
    var form_url = "{{form_url}}";
    var current_url = "{{current_url}}";
    var month_label = "{% trans "Season"%}";
    var quantity_label = "{% trans "Quantity"%}";
    var feed_label = "{% trans "Feed"%}";
    var month_ticks = [
        "{% trans "Winter"%}",
        "{% trans "Spring"%}",
        "{% trans "Summer"%}",
        "{% trans "Autumn"%}"
    ];
    var is_season = true;
    var feed_template_series;
    {% if object.feed_template %}
    var feed_id = {{object.pk}};
    var feed_series = {{graph_series|safe}};
    var feed_colors = [{% for color in colors %}{% if forloop.counter0 %}, {% endif%}'#{{color}}'{%endfor%}];
    var labels = [{% for lbl in labels %}{% if forloop.counter0 %}, {% endif %}"{{lbl}}"{% endfor %}];
    {% else %}
    var feed_series;
    {% endif %}
</script>
{% if object.feed_template %}
<h4 class='ui-widget-header ui-corner-top'>{% trans "Feed" %}</h4>
<div class='centered ui-widget-content ui-corner-bottom'>
    <div class='info ui-state-highlight ui-corner-all'>
        <p><span class="ui-icon ui-icon-info"></span><span>{% trans "To change feeds click on plots on the graph." %}</span></p>
        <p><span class="ui-icon ui-icon-info"></span><span>{% trans "If no feed is defined on a period, click at the bottom of the graph." %}</span></p>
    </div>
    <div id="current_feed"></div>
    <div>
    <form method='post' action='{{url}}' class='simple'>
    {% csrf_token %}
    <input type='hidden' name='monthly_edit' value="1"/>
        <p class='validate'><input type='submit' value="{% trans 'Edit monthly'%}"/></p>
    </form>
    </div>
    <div id='feed_form'></div>
</div>
{% endif %}
{% include "simulabio/blocks/animals_feedtemplate_chooser.html" %}
{% endif %}
</div>
{% endblock %}
