{% extends "base.html" %}
{% load i18n simulabio_tags %}
{% load url from future %}

{% block bodyclass%} class='study-pages animals-gen'{% endblock %}

{% block extra_head %}
<!--[if lt IE 9]><script language="javascript" type="text/javascript" src="{{EXCANVAS_JS}}"></script><![endif]-->
    <link type="text/css" rel="stylesheet" href="{{JQUERY_SPINNER_CSS}}"/>
{% for CSS in JQPLOT_CSS %}
    <link type="text/css" rel="stylesheet" href="{{CSS}}"/>{% endfor %}
{% for JS in JQPLOT_JS %}
    <script language="javascript" type="text/javascript" src="{{JS}}"></script>{% endfor %}
    <script language="javascript" type="text/javascript" src="{{JQUERY_SPINNER_URL}}"></script>
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}simulabio/js/animals-feed.js"></script>
{% endblock %}

{% block top%}
    {% main_menu %}
{% switch 'steps' step_list step step_url %}
{% if study %}
    {% study_menu study 'animals' 'feed' %}
{% endif %}
<div id='action-background' class='action-background-animals'></div>
{% endblock %}

{% block content %}
<div id='contener'>
{% switch 'animals' animal_list animal animal_url animal_end_url %}
{% if not animal_list %}
<script type='text/javascript'>
    var feed_series;
    var feed_template_series;
</script>
<h4 class='ui-widget-header ui-corner-top'>{% trans "Feed" %}</h4>
<div class='centered ui-widget-content ui-corner-bottom'>
    <div class="warning ui-state-error ui-corner-all">
        <p><span class="ui-icon ui-icon-alert"></span>
        <span>{% trans "The herd is not defined for this year." %}</span></p>
    </div>
</div>
{% else %}
<script type='text/javascript'>
    var base_url = "{{base_url}}";
    var form_url = "{{form_url}}";
    var current_url = "{{current_url}}";
    var month_label = "{% trans "Months"%}";
    var quantity_label = "{% trans "Quantity"%}";
    var feed_label = "{% trans "Feed"%}";
    var month_ticks = [
        "{% trans "January"%}",
        "{% trans "February"%}",
        "{% trans "March"%}",
        "{% trans "April"%}",
        "{% trans "May"%}",
        "{% trans "June"%}",
        "{% trans "July"%}",
        "{% trans "August"%}",
        "{% trans "September"%}",
        "{% trans "October"%}",
        "{% trans "November"%}",
        "{% trans "December"%}"
    ];
    var is_season = false;
    {% if feed_template %}
    var feed_template_id = {{feed_template.pk}};
    var feed_template_series = {{template_graph_series}};
    var feed_template_colors = [{% for color in template_colors %}{% if forloop.counter0 %}, {% endif%}'#{{color}}'{%endfor%}];
    var feed_labels = [{% for lbl in feed_labels %}{% if forloop.counter0 %}, {% endif %}"{{lbl}}"{% endfor %}];
    {% else %}
    var feed_template_series;
    {% endif %}
    {% if object.feed_template %}
    var feed_id = {{object.pk}};
    var feed_series = {{graph_series|safe}};
    var feed_colors = [{% for color in colors %}{% if forloop.counter0 %}, {% endif%}'#{{color}}'{%endfor%}];
    var labels = [{% for lbl in labels %}{% if forloop.counter0 %}, {% endif %}"{{lbl}}"{% endfor %}];
    {% else %}
    var feed_series;
    {% endif %}
</script>
{% if object.feed_template %}
<h4 class='ui-widget-header ui-corner-top'>{% trans "Feed" %}</h4>
<div class='centered ui-widget-content ui-corner-bottom'>
    <div class='info ui-state-highlight ui-corner-all'>
        <p><span class="ui-icon ui-icon-info"></span><span>{% trans "To change feeds click on plots on the graph." %}</span></p>
        <p><span class="ui-icon ui-icon-info"></span><span>{% trans "If no feed is defined on a period, click at the bottom of the graph." %}</span></p>
    </div>
    <div id="current_feed"></div>
    {% ifequal step 'D' %}<div>
    <form method='post' action='{{url}}' class='simple'>
    {% csrf_token %}
    <input type='hidden' name='season_edit' value="1"/>
        <p class='validate'><input type='submit' value="{% trans 'Edit seasonally'%}"/></p>
    </form>
    </div>{% endifequal %}
    <div id='feed_form'></div>

    {% if pasture_available %}
    <div id='pasture_available'>
    <h4>{% trans "Pasture available" %}</h4>
    <table id='pasturable'>
    <tr>
        <th>{% trans "Jan." %}</th>
        <th>{% trans "Feb." %}</th>
        <th>{% trans "March" %}</th>
        <th>{% trans "April" %}</th>
        <th>{% trans "May" %}</th>
        <th>{% trans "June" %}</th>
        <th>{% trans "July" %}</th>
        <th>{% trans "August" %}</th>
        <th>{% trans "Sept." %}</th>
        <th>{% trans "Oct." %}</th>
        <th>{% trans "Nov." %}</th>
        <th>{% trans "Dec." %}</th>
    </tr>
    <tr>
        <td colspan='12' class='subhead'>{% trans "Production available by day by cow (kg)" %}</td>
    </tr>
    <tr>
        <td>{{pasture_available.prod_1}}</td>
        <td>{{pasture_available.prod_2}}</td>
        <td>{{pasture_available.prod_3}}</td>
        <td>{{pasture_available.prod_4}}</td>
        <td>{{pasture_available.prod_5}}</td>
        <td>{{pasture_available.prod_6}}</td>
        <td>{{pasture_available.prod_7}}</td>
        <td>{{pasture_available.prod_8}}</td>
        <td>{{pasture_available.prod_9}}</td>
        <td>{{pasture_available.prod_10}}</td>
        <td>{{pasture_available.prod_11}}</td>
        <td>{{pasture_available.prod_12}}</td>
    </tr>
    <tr>
        <td colspan='12' class='subhead'>{% trans "Production consumption balance by day by cow (kg)" %}</td>
    </tr>
    <tr>
        <td class="{% if pasture_available.balance_1 >= 0 %}positive{% else %}negative{% endif %}">{{pasture_available.balance_1}}</td>
        <td class="{% if pasture_available.balance_2 >= 0 %}positive{% else %}negative{% endif %}">{{pasture_available.balance_2}}</td>
        <td class="{% if pasture_available.balance_3 >= 0 %}positive{% else %}negative{% endif %}">{{pasture_available.balance_3}}</td>
        <td class="{% if pasture_available.balance_4 >= 0 %}positive{% else %}negative{% endif %}">{{pasture_available.balance_4}}</td>
        <td class="{% if pasture_available.balance_5 >= 0 %}positive{% else %}negative{% endif %}">{{pasture_available.balance_5}}</td>
        <td class="{% if pasture_available.balance_6 >= 0 %}positive{% else %}negative{% endif %}">{{pasture_available.balance_6}}</td>
        <td class="{% if pasture_available.balance_7 >= 0 %}positive{% else %}negative{% endif %}">{{pasture_available.balance_7}}</td>
        <td class="{% if pasture_available.balance_8 >= 0 %}positive{% else %}negative{% endif %}">{{pasture_available.balance_8}}</td>
        <td class="{% if pasture_available.balance_9 >= 0 %}positive{% else %}negative{% endif %}">{{pasture_available.balance_9}}</td>
        <td class="{% if pasture_available.balance_10 >= 0 %}positive{% else %}negative{% endif %}">{{pasture_available.balance_10}}</td>
        <td class="{% if pasture_available.balance_11 >= 0 %}positive{% else %}negative{% endif %}">{{pasture_available.balance_11}}</td>
        <td class="{% if pasture_available.balance_12 >= 0 %}positive{% else %}negative{% endif %}">{{pasture_available.balance_12}}</td>
    </tr>
    </table>
    <p><em>{% trans "Pasturable surface:" %} {{pasture_available.area}} ha &ndash; {% trans "Total production:" %} {{pasture_available.production}} T ms</em></p>
    </div>
    {% endif %}

    <div id='custom_template'>
    <h4>{% trans "Save as a custom feed" %}</h4>
    <form method='post' action='{% url 'simulabio:animals-feed-custom' study.pk animal step %}' class='simple'>
    {% csrf_token %}
    <table>
    {{custom_feed_form.as_table}}
    </table>
    <p class='validate'><input type='submit' value="{% trans 'Save'%}"/></p>
    </form>
    </div>
</div>
{% endif %}
{% include "simulabio/blocks/animals_feedtemplate_chooser.html" %}
{% endif %}
</div>
{% endblock %}
