{% extends "base.html" %}
{% load i18n simulabio_tags %}

{% block bodyclass%} class='study-pages animals-gen'{% endblock %}

{% block extra_head %}
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}/simulabio/js/menu-sort.js"></script>
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}/simulabio/js/table-autocomplete.js"></script>
{% endblock %}

{% block help %}
<p>De la même manière que pour l’onglet troupeau, le remplissage peut se faire
automatiquement à partie de l’année n+1.</p>

<p>Le lait consommé par veau élevé et vendu est pré rentré et permet de connaitre
la quantité de lait livrée.</p>

<p>Modifier le lait permis par vache permet de changer la référence entrée dans
l’onglet ration.</p>

<p>Le renseignement des valeurs référence MG et TB livré va modifier le litrage
possible à partir du quota.</p>

<p>Le calcul réalisé est le suivant :</p>

<p><em>Litrage possible = quota + ( quota x ( ( référence MG - TB livré ) x 0,0175 ) )</em></p>

{% endblock %}

{% block top%}
    {% main_menu %}
{% switch 'steps' step_list '' base_url '' 1 %}
{% if study %}
    {% study_menu study 'animals' 'milk' %}
{% endif %}
<div id='action-background' class='action-background-animals'></div>
{% endblock %}

{% block content %}
<script type='text/javascript'>
    $(document).ready(function(){ table_autocomplete('milk-table', 0, true); });
</script>
<div id='contener'>
<form method='post' action='.'>
{% csrf_token %}
<h4 class='ui-widget-header ui-corner-top first-block'>{% trans "Milk production" %}</h4>
<div class='centered ui-widget-content ui-corner-bottom'>
    <p class='form'>
    {% csrf_token %}
    <div class='overflow-box'>
    <table class='inline-table' id='milk-table'>
    {% year_forms year_forms %}
    </table>
    </div>
    </p>
    {% include "simulabio/blocks/validate.html" %}
</div>
</form>
</div>
{% endblock %}
