{% load i18n %}
<form method='post' action='{{url}}' class='simple'>
{% csrf_token %}
<div id='animals_feed_update'>
{{ form.as_p }}
<p class='feed_total'><label>{% trans "Total:" %}</label> <span id='total_value'>16</span></p>
</div>
<p class='validate'><input type='submit' id='feed_update_submit' value="{% trans 'Validate'%}"/></p>
</form>
<script type='text/javascript'>
function calculate_sum(e){
    var total = 0;
    $("#animals_feed_update input[type=text]").each(function(index) {
        total += parseFloat($(this).val());
    });
    total = Math.ceil(total*10)/10;
    $('#total_value').html(total);
    /*
    if (total == 16){
        $('#total_value').removeClass('negative');
        $('#feed_update_submit').removeAttr('disabled').removeClass('ui-state-disabled');
    } else {
        $('#total_value').addClass('negative');
        $('#feed_update_submit').attr('disabled', 'disabled').addClass('ui-state-disabled');
    }*/
    if (e) e.stopPropagation();
};
$(document).ready(function(){
    $("input[type=submit], button").button();
    $("#animals_feed_update input[type=text]").spinner(
               {min: 0, max: 99, step: 0.1} ).change(calculate_sum);
    calculate_sum();
});
</script>
