{% extends "base.html" %}
{% load i18n simulabio_tags %}

{% block bodyclass%} class='study-pages animals-gen'{% endblock %}

{% block top%}
    {% main_menu %}
{% switch 'steps' step_list step step_url %}
{% if object %}
    {% study_menu study 'animals' 'litter' %}
{% endif %}
<div id='action-background' class='action-background-animals'></div>
{% endblock %}

{% block content %}
<div id='contener'>
<script type='text/javascript'>
    var base_url = "{{base_url}}";
</script>
{% switch 'animals' animal_list animal animal_url animal_end_url %}
{% if not animal_list %}
<h4 class='ui-widget-header ui-corner-top'>{% trans "Litter" %}</h4>
<div class='centered ui-widget-content ui-corner-bottom'>
    <div class="warning ui-state-error ui-corner-all">
        <p><span class="ui-icon ui-icon-alert"></span>
        <span>{% trans "The herd is not defined for this year." %}</span></p>
    </div>
</div>
{% else %}
<h4 class='ui-widget-header ui-corner-top'>{% trans "Litter" %}</h4>
<div class='centered ui-widget-content ui-corner-bottom'>
    <form method='post' action='.'>
    {% csrf_token %}
    {% for field in form %}

    {% if forloop.first %}<table>
        <tr><th>{{ field.label }}{% trans ":" %}</th><td>{{field}}</td></tr>
    </table>{% endif %}

    {% ifequal forloop.counter0 1 %}
    <div class='overflow-box'>
    <table class='inline-table' id="litter-table">
    <tr><th colspan='12'>{% trans "Stall days"%}</th></tr>
    <tr>{% for innerfield in form %}{% if not forloop.first %}
        <th>{{innerfield.label}}</th>
    {% endif %}{% endfor %}</tr><tr>
    {% endifequal %}

    {% if not forloop.first %}
        <td>{{field}}</td>
    {% endif %}

    {% if forloop.last %}
    </tr></table></div>{% endif %}
    {% endfor %}

    {% include "simulabio/blocks/validate.html" %}
    </form>
</div>
{% endif %}
</div>
{% endblock %}
