{% extends "base.html" %}
{% load i18n simulabio_tags %}

{% block bodyclass%} class='study-pages balance-gen'{% endblock %}

{% block extra_head %}
<style type='text/css'>
{% for category in categories %}
.inline-table tr.{{category.name|slugify}} td,
.inline-table th.{{category.name|slugify}}{
    background-color:#{{category.color}};
}{% endfor %}
</style>
{% endblock %}

{% block help %}
<p>Cet onglet permet de faire ressortir les aberrations de l’étude.  Les besoins
des animaux sont exprimés en surface ainsi que la production afin de pouvoir
vérifier rapidement l’autonomie.</p>

<h4>Explication des calculs</h4>
<p>Le calcul de la production est simple et est juste une addition des surfaces
rassemblées en grandes catégories.</p>
<p><em>Exemple : Herbe = luzerne + prairie de fauche + prairie de pâture + prairie permanente</em></p>
<p>Le calcul des besoins est réalisé en se basant sur la somme des besoins
(ensilage, foin...) par type de culture en prenant en compte tous les animaux.
Ainsi pour l’herbe, la somme totale des besoins en herbe (exprimée en tonne) est
divisée par le rendement pondéré en herbe (en tonne de MS/ha) pour ramener les
besoins en ha.</p>
<h4>Exemple de calcul du rendement pondéré</h4>

<p>On a une exploitation composée ainsi :
<ul><li>10 ha de luzerne à 10t MS/ha</li>
<li>8 ha de PP à 5t MS/ha</li>
<li>25 ha de pâture à 7 t MS/ha</li></ul>
<p>Le rendement pondéré est calculé en multipliant les surfaces en herbe
par type d’herbe (luzerne, prairie de fauche, pâture, prairie permanente)
multipliée par leur rendement respectif divisé par la surface totale des
cultures du type herbe.</p>
<p>Le calcul est donc le suivant:</p>
<p><img src='{{STATIC_URL}}simulabio/img-new/help/formula-primary-balance.png' alt='( (10 x 10) + (8 x 5) + (7 x 25) ) / (10 + 8 + 25) = 7,3 tMS/ha' title='( (10 x 10) + (8 x 5) + (7 x 25) ) / (10 + 8 + 25) = 7,3 tMS/ha'/></p>{% endblock %}

{% block top%}
    {% main_menu %}
{% switch 'steps' step_list step step_url %}
{% if object %}
    {% study_menu object 'balance' 'primary-balance' %}
{% endif %}
{% endblock %}

{% block content %}
<div id='contener'>
<h4 class='ui-widget-header ui-corner-top first-block'>{% trans "Areas balance" %}</h4>
<div class='centered ui-widget-content ui-corner-bottom'>
    {% for harvest_category_study in object_list %}
    {% if harvest_category_study.harvest_category_usage_error and harvest_category_study.harvest_category_usage_error.usage_type.target_type != 'straw' %}
    <div class="warning ui-state-error ui-corner-all">
        <p><span class="ui-icon ui-icon-alert"></span><span>{% trans "No harvest provide: " %}{{harvest_category_study.harvest_category_usage_error.harvest_category}} / {{harvest_category_study.harvest_category_usage_error.usage_type}}.</span></p>
    </div>{% endif %}
    {% endfor %}

    <div class='overflow-box'>
    <table class='inline-table' id='animals-primary-balance'>
    <tr><th>{% trans "Harvest"%}</th><th>{% trans "Needs" %}</th><th>{% trans "Yield" %}</th><th>{% trans "Balance" %}</th><th>{% trans "Autonomy (%)" %}</th></tr>
    {% for harvest_category_study in object_list %}
    {% if harvest_category_study.area_needed or harvest_category_study.area %}<tr class='{{harvest_category_study.harvest_category.name|slugify}}'>
        <td class='str'>{{harvest_category_study.harvest_category}}</td>
        <td>{{harvest_category_study.area_needed|floatformat:"1"}}</td>
        <td>{{harvest_category_study.area|floatformat:"1"}}</td>
        <td>{{harvest_category_study.balance|floatformat:"1"}}</td>
        <td>{% if harvest_category_study.autonomy_pourc %}{{harvest_category_study.autonomy_pourc|floatformat:"0"}} %{% endif %}</td>
    </tr>{% endif %}
    {% endfor %}
    </table>
    </div>
</div>
</div>
{% endblock %}
