{% extends "base.html" %}
{% load i18n simulabio_tags table_field %}
{% block extra_head %}
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}/simulabio/js/table-autocomplete.js"></script>
{% endblock %}

{% block bodyclass%} class='study-pages animals-gen'{% endblock %}

{% block help %}
<p>La première étape consiste à remplir le nombre d’animaux sur l’exploitation
pour chacune des catégories. Toutes les données remplies en N+1 sont copiées
pour les années suivantes afin de faciliter la saisie.</p>

<p>Le calcul du taux de renouvellement se fait automatiquement à partir du
nombre de génisses de 2 ans. Il est faussé à l’heure actuelle (voir
<em>Attention au remplissage du nombre de Génisses 2 (G2)</em>).</p>

<p>Le calcul du nombre de veaux vendus est automatique et est déduit du nombre
de Génisses 0 conservées et du nombre de Vaches Laitières.</p>

<p>Exemple:</p>

<p><em>44 vaches laitières - 15 veaux conservés = 29 veaux vendus</em></p>

<p>Le nombre de vaches réformées vendues est calculé automatiquement à partir
du taux de réforme.</p>

<p>Dans l’exemple ci-dessus :</p>

<p><em>Taux de réforme à 25 % sur un troupeau de 44 vaches laitières : 44 x 0,25 = 11 vaches réformées</em></p>

<h4>Attention au remplissage du nombre de Génisses 2 (G2)</h4>

<p>Pour avoir l’impact des génisses 2 sur le bilan fourrager, il est nécessaire
de remplir non pas le nombre véritable de génisses de 2 ans mais leur nombre
qui impact sur le bilan fourrager. Cela est bien sûr dépendant de leur âge au
vêlage. Ainsi, dans un troupeau dont l’âge au vêlage est de 30 mois, les
génisses G2 restent seulement 6 mois dans cette catégorie et elles ont donc un
impact 2 fois moindre sur le bilan fourrager (6 mois / 12 mois). Donc si j’ai 30
génisses, je vais en compter seulement 15.</p>

{% endblock %}

{% block top%}
    {% main_menu %}
{% switch 'steps' step_list '' base_url '' 1 %}
{% if study %}
    {% study_menu study 'animals' 'herd' %}
{% endif %}
<div id='action-background' class='action-background-animals'></div>
{% endblock %}

{% block content %}
<script type='text/javascript'>
    var base_url = "{{base_url}}";
    $(document).ready(function(){ table_autocomplete('herd-table', 0, true); });
</script>
<div id='contener'>
<h4 class='ui-widget-header ui-corner-top first-block'>{% trans "Herd" %}</h4>
<div class='centered ui-widget-content ui-corner-bottom'>
    <form method='post' action='.'>
    {% csrf_token %}
    <p class='form'>
    {% csrf_token %}
    <div class='overflow-box'>
    <table class='inline-table' id='herd-table'>
    {% year_forms year_forms "" 1 1 '' 0 %}
    </table>
    </div>
    </p>
    {% include "simulabio/blocks/validate.html" %}
    </form>
</div>
</div>
{% endblock %}
