{% extends "base.html" %}
{% load i18n simulabio_tags inline_formset %}

{% block extra_head %}
<style type='text/css'>
{% for category in categories %}
table#balance-fodder-table tr th.{{category.name|slugify}}{
    background-color:#{{category.color}};
}{% endfor %}
</style>
{% endblock %}

{% block help %}
<p>Le bilan fourrager permet de renseigner comment on fournit au troupeau ses
besoins alimentaires.</p>
<p>Par exemple, le troupeau a besoin de foin : on peut le fournir avec de la
prairie permanente, un décrochage sur du rga/tb, ou encore avec un rgh/tv...
Cela permet d’apprécier la réalité de l’usage des cultures et de plus se
concentrer sur le fonctionnement de l’exploitation.</p>
<p>La quantité d’aliments achetée sera répercutée sur la dernière partie,
l’économie.</p>
{% endblock %}

{% block bodyclass%} class='study-pages balance-gen'{% endblock %}

{% block top%}
    {% main_menu %}
{% switch 'steps' step_list step step_url %}
{% if study %}
    {% study_menu object 'balance' 'fodder-balance' %}
{% endif %}
<div id='action-background' class='action-background-fodder-balance'></div>
{% endblock %}

{% block content %}
<div id='contener'>
{% switch 'harvest_category' harvest_category_list harvest_category harvest_category_url %}
<h4 class='ui-widget-header ui-corner-top'>{% trans "Fodder balance" %}</h4>
{% if not forms %}
<div class='centered ui-widget-content ui-corner-bottom'>
    <div class="warning ui-state-error ui-corner-all">
        <p><span class="ui-icon ui-icon-alert"></span>
        <span>{% trans "There are missing data to perform balance fodder. Verify harvests and animal feeds." %}</span></p>
    </div>
</div>
{% else %}
<div id='balance-fodder' class='centered ui-widget-content ui-corner-bottom'>
<table id='balance-fodder-table'>
<form method='post' action='.'>
{% csrf_token %}
<tr class='header'>
    <th colspan='2'>{% trans "Needs" %}</th>
    <td class='spaced-vert'>&nbsp;</td>
    <th colspan='2'>{% trans "Supplies" %}</th>
    <td class='spaced-vert' rowspan='2'>&nbsp;</td>
    <th rowspan='2'>{% trans "Balance" %}</th>
</tr>
<tr class='header'>
    <th>{% trans "Usage" %}</th>
    <th>{% trans "Need<br/>(t&nbsp;MS)" %}</th>
    <td class='spaced-vert'>&nbsp;</td>
    <th>{% trans "What (left/max)" %}</th>
    <th>{% trans "Quantity<br/>(t&nbsp;MS)" %}</th>
</tr>
{% for cat, usages, length in forms %}
<tr>
    <td class='spaced-horiz' colspan='2'>&nbsp;</td>
    <td class='spaced'>&nbsp;</td>
    <td class='spaced-horiz' colspan='2'>&nbsp;</td>
    <td class='spaced'>&nbsp;</td>
    <td class='spaced-horiz'>&nbsp;</td>
</tr>
<tr>
    {% for usagetype, feed_need, formsets, len_form in usages %}
        <th class='{{feed_need.harvest_category_usage.harvest_category.name|slugify}}' rowspan='{{len_form}}'>{{usagetype}}</th>
        <td rowspan='{{len_form}}' class='align-right'>{{feed_need.amount|floatformat:"0"}}</td>
        <td rowspan='{{len_form}}' class='spaced-vert'>&nbsp;</td>
        {% for formset in formsets %}
            {% ifequal forloop.counter0  0 %}
        <th colspan='2'>{% trans "Farm production" %}</th>{% else %}
        <th colspan='2'>{% trans "Extra supply" %}</th>
            {% endifequal %}
            {% if  forloop.first %}
            <td rowspan='{{len_form}}' class='spaced-vert'>&nbsp;</td>
            <th rowspan='{{len_form}}' class='align-center simple'>
                <p{% if feed_need.balance < 0 %} class='negative'{%endif%}>{{feed_need.balance|floatformat:"0"}}</p>
                <p class='{% if feed_need.balance < 0 %}negative {%endif%} pourc'>{{feed_need.balance_pourc|floatformat:"0"}} %</p>
            </th>
            {% endif %}
        </tr>
        <tr>
        {{ formset.management_form }}
        {% inline_formset ' ' formset False 1 %}
        </tr>
        <tr>
        <td colspan='2' class='align-right'><input class='hidden' type='submit' value="{% trans 'Modify'%}"/></td>
        </tr>
        {% endfor %}
    {% endfor %}
</tr>
{% endfor %}
</table>
</form>
</div>
{% endif %}
</div>
{% endblock %}

