{% load i18n simulabio_tags inline_formset range %}
{% load url from future %}
    {% switch 'eco-harvest' harvest_list "expenses-"|add:harvest step_url|add:"cultures/" %}
<script type='text/javascript'>
    $(document).ready(function(){
        table_autocomplete('harvest-expense', 1, true);
        register_display_validate();
    });
</script>
<form method='post' action='{% url "simulabio:economy-full-harvest-expenses" study.pk harvest %}'>
<h4 class='ui-widget-header ui-corner-top'>{% trans "Harvest expense" %}</h4>
<div class='centered ui-widget-content ui-corner-bottom'>
    {% csrf_token %}
    {{ formset.management_form }}
    <div class='simple-overflow-box'>
    <table class='inline-table' id='harvest-expense'>
    <thead>
    <tr>
        <th class='header rowspan2'>{% trans "Harvest" %}</th>
        <th colspan='2'>{% trans "Diag" %}</th>
        {% for idx in study.transition_years|get_range1 %}
        <th colspan='2'>n + {{idx}}</th>{% endfor %}
        <th colspan='2'>{% trans "Project" %}</th>
    </tr>
    <tr>
        <td class='firstcol-spacer'></td>
        <th>{% trans "Cost (€)" %}</th>
        <th>{% trans "Total (€)" %}</th>
        {% for idx in study.transition_years|get_range1 %}
        <th>{% trans "Cost (€)" %}</th>
        <th>{% trans "Total (€)" %}</th>{% endfor %}
        <th>{% trans "Cost (€)" %}</th>
        <th>{% trans "Total (€)" %}</th>
    </tr>
    </thead>
    {% inline_formset ' ' formset False False 1 %}
    </table>
    </div>
    {% include "simulabio/blocks/validate.html" %}
</div>
</form>

