{% extends "base.html" %}
{% load i18n simulabio_tags inline_formset range %}

{% block bodyclass%} class='study-pages economy-gen'{% endblock %}

{% block extra_head %}
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}/simulabio/js/menu-sort.js"></script>
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}/simulabio/js/table-autocomplete.js"></script>
{% endblock %}

{% block top%}
    {% main_menu %}
{% switch 'steps' step_list '' step_url '' 1 %}
{% if object %}
    {% study_menu study 'economy' 'full-economy' %}
{% endif %}
<div id='action-background' class='action-background-economy'></div>
{% endblock %}

{% block content %}
<script type='text/javascript'>
    var base_url = "{{base_url}}";
    $(document).ready(function(){ table_autocomplete('harvest-expense', 1, true); });
</script>
<div id='contener'>
{% if object %}
    {% switch 'full-economy' action_list 'harvest-expenses' base_url %}
    {% switch 'eco-harvest' harvest_list harvest step_url %}
{% endif %}
<form method='post' action='.'>
<h4 class='ui-widget-header ui-corner-top'>{% trans "Harvest expense" %}</h4>
<div class='centered ui-widget-content ui-corner-bottom'>
    {% csrf_token %}
    {{ formset.management_form }}
    <div class='overflow-box'>
    <table class='inline-table' id='harvest-expense'>
    <thead>
    <tr>
        <th class='header rowspan2'>{% trans "Harvest" %}</th>
        <th colspan='2'>{% trans "Diag." %}</th>
        {% for idx in study.transition_years|get_range1 %}
        <th colspan='2'>n + {{idx}}</th>{% endfor %}
        <th colspan='2'>{% trans "Project" %}</th>
    </tr>
    <tr>
        <td class='firstcol-spacer'></td>
        <th>{% trans "Cost (€)" %}</th>
        <th>{% trans "Total (€)" %}</th>
        {% for idx in study.transition_years|get_range1 %}
        <th>{% trans "Cost (€)" %}</th>
        <th>{% trans "Total (€)" %}</th>{% endfor %}
        <th>{% trans "Cost (€)" %}</th>
        <th>{% trans "Total (€)" %}</th>
    </tr>
    </thead>
    {% inline_formset ' ' formset False False 1 %}
    </table>
    </div>
    {% include "simulabio/blocks/validate.html" %}
</div>
</form>
</div>
{% endblock %}

