{% extends "base.html" %}
{% load i18n simulabio_tags inline_formset table_field %}

{% block bodyclass%} class='study-pages economy-gen'{% endblock %}

{% block extra_head %}
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}/simulabio/js/menu-sort.js"></script>
{% endblock %}

{% block top%}
    {% main_menu %}
{% switch 'steps' step_list '' base_url '' 1 %}
{% if study %}
    {% study_menu study 'economy' 'simple-economy' %}
{% endif %}
<div id='action-background' class='action-background-economy'></div>
{% endblock %}

{% block content %}
<div id='contener'>
{% if study %}
    {% switch 'simple-economy' action_list 'initial-state' base_url %}
{% endif %}
<form method='post' action='.'>
<h4 class='ui-widget-header ui-corner-top'>{% trans "Initial state" %}</h4>
<div class='centered ui-widget-content ui-corner-bottom'>
    {% csrf_token %}
    {% for hidden in initial_form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
    {{initial_form.non_field_errors}}
    <table>
    {% table_field initial_form.total_product %}
    {% table_field initial_form.operational_charges %}
    <td>{% trans "Including:" %}</td>
    {{ formset.management_form }}
    {% inline_formset ' ' formset False %}
    {% table_field initial_form.structural_charges %}
    {% table_field initial_form.depreciation %}
    {% table_field initial_form.annuities %}
    {% table_field initial_form.share_capital %}
    {% table_field initial_form.interests %}
    </table>
    {% include "simulabio/blocks/validate.html" %}
</div>
</form>
</div>
{% endblock %}


