{% extends "base.html" %}
{% load i18n simulabio_tags inline_formset table_field %}

{% block bodyclass%} class='study-pages economy-gen'{% endblock %}

{% block extra_head %}
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}/simulabio/js/menu-sort.js"></script>
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}/simulabio/js/table-autocomplete.js"></script>
{% endblock %}

{% block top%}
    {% main_menu %}
{% switch 'steps' step_list '' base_url '' 1 %}
{% if study %}
    {% study_menu study 'economy' 'full-economy' %}
{% endif %}
<div id='action-background' class='action-background-economy'></div>
{% endblock %}

{% block content %}
<script type='text/javascript'>
    $(document).ready(function(){ table_autocomplete('synthesis-table', 0, true); });
</script>
<div id='contener'>
{% if study %}
    {% switch 'simple-economy' action_list 'synthesis' base_url %}
{% endif %}
<form method='post' action='.'>
<h4 class='ui-widget-header ui-corner-top'>{% trans "Economic synthesis" %}</h4>
<div class='centered ui-widget-content ui-corner-bottom'>
    <p class='form'>
    {% csrf_token %}
    <div class='overflow-box'>
    <table class='inline-table' id='synthesis-table'>
    {% year_forms year_forms %}
    </table>
    </div>
    </p>
    {% include "simulabio/blocks/validate.html" %}
</div>
</form>
</div>
{% endblock %}


