{% extends "base.html" %}
{% load i18n simulabio_tags inline_formset table_field range %}

{% block bodyclass%} class='study-pages economy-gen'{% endblock %}

{% block extra_head %}
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}/simulabio/js/menu-sort.js"></script>
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}/simulabio/js/table-autocomplete.js"></script>
{% endblock %}

{% block top%}
    {% main_menu %}
{% switch 'steps' step_list '' base_url '' 1 %}
{% if study %}
    {% study_menu study 'economy' 'simple-economy' %}
{% endif %}
<div id='action-background' class='action-background-economy'></div>
{% endblock %}

{% block content %}
<script type='text/javascript'>
    $(document).ready(function(){
        table_autocomplete('expenses-table', 0, true);
        table_autocomplete('purchases-table', 0, true);
    });
</script>
<div id='contener'>
{% if study %}
    {% switch 'simple-economy' action_list 'expenses' base_url %}
{% endif %}
<form method='post' action='.'>
<h4 class='ui-widget-header ui-corner-top'>{% trans "Expenses" %}</h4>
<div class='centered ui-widget-content ui-corner-bottom'>
    <p class='form'>
    {% csrf_token %}
    <div class='simple-overflow-box'>
    <table class='inline-table' id='expenses-table'>
    {% year_forms year_forms.0 %}
    <tr>
        <th colspan='{{study.transition_years|add:3}}'></th>
    </tr>
    {% for year_form in year_forms %}
        {% if year_form.0 and year_form.0.extra_supply %}
        {% year_forms year_form '' 1 0 'extra_supply' 0 %}
        {% endif %}
    {% endfor %}
    </table>
    </div>
    </p>
    {% include "simulabio/blocks/validate.html" %}
</div>
<h4 class='ui-widget-header ui-corner-top'>{% trans "Extra expenses" %}</h4>
<div class='centered ui-widget-content ui-corner-bottom'>
    <p class='form'>
    {% csrf_token %}
    {{ extra_expense }}
    <p class='validate'><input type='submit' value="{% trans 'Add'%}"/></p>
    </p>
    {% if year_forms.1 %}
    <p class='form'>
    {% csrf_token %}
    <table class='inline-table'>
    <tr>
        <th>{% trans "Extra expenses" %}</th>
        {% for step in step_list %}<th>{{step.label}}</th>{% endfor%}
    </tr>
    {% for year_form in year_forms %}
        {% if year_form.0 and year_form.0.name %}
        {% year_forms year_form '' 1 0 %}
        {% endif %}
    {% endfor %}
    </table>
    </p>
    {% include "simulabio/blocks/validate.html" %}
    {%endif%}
</div>
</form>
</div>
{% endblock %}


