{% extends "base.html" %}
{% load i18n simulabio_tags inline_formset table_field range %}

{% block bodyclass%} class='study-pages economy-gen'{% endblock %}

{% block extra_head %}
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}/simulabio/js/menu-sort.js"></script>
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}/simulabio/js/table-autocomplete.js"></script>
{% endblock %}

{% block top%}
    {% main_menu %}
{% switch 'steps' step_list '' base_url '' 1 %}
{% if study %}
    {% study_menu study 'economy' 'full-economy' %}
{% endif %}
<div id='action-background' class='action-background-economy'></div>
{% endblock %}

{% block content %}
<script type='text/javascript'>
    $(document).ready(function(){
        table_autocomplete('static-expenses-table', 0, false);
    });
</script>
<div id='contener'>
{% if study %}
    {% switch 'full-economy' action_list 'expenses' base_url %}
{% endif %}
<form method='post' action='.'>
<h4 class='ui-widget-header ui-corner-top'>{% trans "Static expenses" %}</h4>
<div class='centered ui-widget-content ui-corner-bottom'>
    <p class='form'>
    {% csrf_token %}
    {{ extra_expense }}
    <p class='validate'><input type='submit' value="{% trans 'Add'%}"/></p>
    </p>
    {% if year_forms.0 %}
    <p class='form'>
    {% csrf_token %}
    <div class='overflow-box'>
    <table class='inline-table' id='static-expenses-table'>
    {% year_header study.transition_years "" 1 1 1 %}
    {% for year_form in year_forms %}
        {% if year_form.0 and year_form.0.name %}
        {% year_forms year_form '' 1 0 %}
        {% endif %}
    {% endfor %}
    </table>
    </div>
    </p>
    {% include "simulabio/blocks/validate.html" %}
    {%endif%}
</div>
</form>
</div>
{% endblock %}



