{% extends "base.html" %}
{% load i18n simulabio_tags inline_formset range %}

{% block bodyclass%} class='study-pages economy-gen'{% endblock %}

{% block extra_head %}
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}/simulabio/js/menu-sort.js"></script>
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}/simulabio/js/table-autocomplete.js"></script>
{% endblock %}

{% block top%}
    {% main_menu %}
{% switch 'steps' step_list '' base_url '' 1 %}
{% if object %}
    {% study_menu study 'economy' 'economy-settings' %}
{% endif %}
<div id='action-background' class='action-background-economy'></div>
{% endblock %}

{% block help %}
La saisie des prix de vente est limitée aux seules cultures vendables sur cette exploitation.
{%endblock%}

{% block content %}
<script type='text/javascript'>
    $(document).ready(function(){ table_autocomplete('crop-prices', 0, true); });
</script>
<div id='contener'>
<form method='post' action='.'>
<h4 class='ui-widget-header ui-corner-top'>{% trans "Crop prices" %}</h4>
<div class='centered ui-widget-content ui-corner-bottom'>
    {% csrf_token %}
    {{ formset.management_form }}
    <div class='overflow-box'>
    <table class='inline-table' id='crop-prices'>
    <thead>
    <tr>
        <th>{% trans "Harvest" %}</th>
        <th>{% trans "Usage" %}</th>
        {% for idx in study.transition_years|get_range1 %}
        <th>n + {{idx}}</th>{% endfor %}
        <th>{% trans "Project" %}</th>
    </tr>
    </thead>
    {% inline_formset ' ' formset False %}
    {% if not formset.forms %}<tr><td class='emphasis' colspan='5'>{% trans "No harvest usage to be sold" %}</td></tr>{% endif %}
    </table>
    </div>
    {% include "simulabio/blocks/validate.html" %}
</div>
</form>
</div>
{% endblock %}

