{% extends "base.html" %}
{% load i18n simulabio_tags inline_formset range %}

{% block bodyclass%} class='study-pages economy-gen'{% endblock %}

{% block extra_head %}
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}/simulabio/js/menu-sort.js"></script>
{% endblock %}

{% block top%}
    {% main_menu %}
{% switch 'steps' step_list '' base_url '' 1 %}
{% if object %}
    {% study_menu study 'economy' 'simple-economy' %}
{% endif %}
<div id='action-background' class='action-background-economy'></div>
{% endblock %}

{% block content %}
<div id='contener'>
{% if object %}
    {% switch 'simple-economy' action_list 'investments' base_url %}
{% endif %}
<form method='post' action='.'>
<h4 class='ui-widget-header ui-corner-top'>{% trans "Investment" %}</h4>
<div class='centered ui-widget-content ui-corner-bottom'>
    {% csrf_token %}
    {{ formset.management_form }}
    <div class='overflow-box'>
    <table class='inline-table large-table' id="investments-table">
    <thead>
    <tr>
        <td colspan='3'>&nbsp;</td>
        <th colspan='2' class='amortization'>{% trans "Amortization" %}</th>
        <th colspan='2' class='loan'>{% trans "Loan" %}</th>
    </tr>
    <tr>
        <th>{% trans "Investment" %}</th>
        <th>{% trans "Date" %}</th>
        <th>{% trans "Amount" context "money" %}</th>
        <th>{% trans "Duration (years)" %}</th>
        <th>{% trans "Residual value" %}</th>
        <th>{% trans "Rate" context "money" %}</th>
        <th>{% trans "Loan duration" %}</th>
        <th>{% trans "X" %}</th>
    </tr>
    </thead>
    {% inline_formset ' ' formset False %}
    </table>
    </div>
    {% include "simulabio/blocks/validate.html" %}
</div>
</form>
</div>
{% endblock %}

