{% extends "base.html" %}
{% load i18n simulabio_tags inline_formset range %}

{% block bodyclass%} class='study-pages economy-gen'{% endblock %}

{% block extra_head %}
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}/simulabio/js/menu-sort.js"></script>
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}/simulabio/js/table-autocomplete.js"></script>
{% endblock %}

{% block top%}
    {% main_menu %}
{% switch 'steps' step_list '' step_url '' 1 %}
{% if study %}
    {% study_menu study 'economy' 'full-economy' %}
{% endif %}
<div id='action-background' class='action-background-economy'></div>
{% endblock %}

{% block content %}
<script type='text/javascript'>
    var base_url = "{{base_url}}";
    $(document).ready(function(){
        table_autocomplete('workshop-expense', 2, true);
        table_autocomplete('revenues-table', 1, true);
        table_autocomplete('expenses-table', 1, true);
        table_autocomplete('purchases-table', 1, true);
    });
</script>
<div id='contener'>
{% if study %}
    {% switch 'full-economy' action_list 'workshop' base_url %}
    {% switch 'eco-workshop' workshop_list workshop.txt_idx step_url %}
{% endif %}
{% include 'simulabio/blocks/switch_expenses_revenues.html' %}
<form method='post' action='.'>
<div id='revenues' class='hidden'>
<h4 class='ui-widget-header ui-corner-top first-block-menu'>{% trans "Revenues"%}</h4>
<div class='centered ui-widget-content ui-corner-bottom'>
    <p class='form'>
    {% csrf_token %}
    {{ extra_revenue }}
    <p class='validate'><input type='submit' value="{% trans 'Add'%}"/></p>
    </p>
    {{ formset.management_form }}
    <div class='simple-overflow-box'>
    <table class='inline-table' id='workshop-revenue'>
    {% year_header study.transition_years "Quantity;Price;Total" %}
    {% for year_form in year_forms %}
        {% if 'WorkshopRevenues' in year_form.0.prefix and year_form.0 and year_form.0.name %}
        {% year_forms year_form '' 1 0 'name' 1 3 %}
        {% endif %}
    {% endfor %}
    </table>
    </div>
    {% include "simulabio/blocks/validate.html" %}
</div>
</div>
<div id='expenses' class='hidden'>
<h4 class='ui-widget-header ui-corner-top first-block-menu'>{% trans "Expenses"%}</h4>
<div class='centered ui-widget-content ui-corner-bottom'>
    <p class='form'>
    {% csrf_token %}
    {{ extra_expense }}
    <p class='validate'><input type='submit' value="{% trans 'Add'%}"/></p>
    </p>
    {{ formset.management_form }}
    <div class='simple-overflow-box'>
    <table class='inline-table' id='workshop-expense'>
    {% year_header study.transition_years "Quantity;Price;Total" %}
    {% for year_form in year_forms %}
        {% if 'WorkshopExpenses' in year_form.0.prefix and year_form.0 and year_form.0.name %}
        {% year_forms year_form '' 1 0 'name' 1 3 %}
        {% endif %}
    {% endfor %}
    </table>
    </div>
    {% include "simulabio/blocks/validate.html" %}
</div>
</div>

</form>
</div>
{% endblock %}

