{% extends "base.html" %}
{% load i18n simulabio_tags inline_formset table_field range %}

{% block bodyclass%} class='study-pages economy-gen'{% endblock %}

{% block extra_head %}
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}/simulabio/js/menu-sort.js"></script>
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}/simulabio/js/table-autocomplete.js"></script>
{% endblock %}

{% block top%}
    {% main_menu %}
{% switch 'steps' step_list '' base_url '' 1 %}
{% if study %}
    {% study_menu study 'economy' 'simple-economy' %}
{% endif %}
<div id='action-background' class='action-background-economy'></div>
{% endblock %}

{% block content %}
<script type='text/javascript'>
    $(document).ready(function(){ table_autocomplete('revenues-table', 0, true); });
</script>
<div id='contener'>
{% if study %}
    {% switch 'simple-economy' action_list 'revenues' base_url %}
{% endif %}
<form method='post' action='.'>
<h4 class='ui-widget-header ui-corner-top'>{% trans "Base revenues" %}</h4>
<div class='centered ui-widget-content ui-corner-bottom'>
    <p class='form'>
    {% csrf_token %}
    <div class='simple-overflow-box'>
    <table class='inline-table' id='revenues-table'>
    {% year_forms year_forms.0 %}
    </table>
    </div>
    </p>
    {% include "simulabio/blocks/validate.html" %}
</div>
<h4 class='ui-widget-header ui-corner-top'>{% trans "Extra revenues" context 'simple eco' %}</h4>
<div class='centered ui-widget-content ui-corner-bottom'>
    <p class='form'>
    {% csrf_token %}
    {{extra_revenue}}
    <p class='validate'><input type='submit' value="{% trans 'Add'%}"/></p>
    </p>
    {% if year_forms.1 %}
    <p class='form'>
    {% csrf_token %}
    <div class='overflow-box'>
    <table class='inline-table'>
        <tr>
            <th rowspan='2'>{% trans "Revenue" %}</th>
            <th colspan='3'>{% trans "Diag." %}</th>
            {% for idx in study.transition_years|get_range1 %}
            <th colspan='3'>n + {{idx}}</th>{% endfor %}
            <th colspan='3'>{% trans "Project" %}</th>
        </tr>
        <tr>
            <th>{% trans "Price" %}</th>
            <th>{% trans "Quantity" %}</th>
            <th>{% trans "Total" %}</th>
            {% for idx in study.transition_years|get_range1 %}
            <th>{% trans "Price" %}</th>
            <th>{% trans "Quantity" %}</th>
            <th>{% trans "Total" %}</th>{% endfor %}
            <th>{% trans "Price" %}</th>
            <th>{% trans "Quantity" %}</th>
            <th>{% trans "Total" %}</th>
        </tr>
        {% trans "Extra revenue" as extra_revenues_lbl %}
        {% for year_form in year_forms %}
            {%  if forloop.counter0 %}
                {% year_forms year_form extra_revenues_lbl 1 0 'name' 0 3 %}
            {% endif %}
        {% endfor %}
    </table>
    </div>
    </p>
    {% include "simulabio/blocks/validate.html" %}
    {%endif%}
</div>
</form>
</div>
{% endblock %}


