{% extends "base.html" %}
{% load i18n simulabio_tags inline_formset range %}

{% block bodyclass%} class='study-pages economy-gen'{% endblock %}

{% block extra_head %}
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}/simulabio/js/menu-sort.js"></script>
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}/simulabio/js/table-autocomplete.js"></script>
{% endblock %}

{% block top%}
    {% main_menu %}
{% switch 'steps' step_list '' step_url '' 1 %}
{% if object %}
    {% study_menu study 'economy' 'full-economy' %}
{% endif %}
<div id='action-background' class='action-background-economy'></div>
{% endblock %}

{% block help %}
<p>Avant de renseigner la vente de culture, il est nécessaire de paramétrer préalablement les prix de vente dans <em>Paramétrage</em>.</p>
<p>Seules les cultures produites par la ferme sont affichées.</p>
{% endblock %}

{% block content %}
<script type='text/javascript'>
    var base_url = "{{base_url}}";
    $(document).ready(function(){
        table_autocomplete('crop-selling', 0, true);
        $('#expenses').load("{{base_url}}harvest-expenses/{% if extra %}{{extra}}/{% endif %}");
    });
</script>
<div id='contener'>
{% if object %}
    {% switch 'full-economy' action_list 'workshop' base_url %}
    {% switch 'eco-workshop' workshop_list 'cultures' step_url %}
{% endif %}
{% include 'simulabio/blocks/switch_expenses_revenues.html' %}
<div id='revenues' class='hidden'>
<form method='post' action='.'>
<h4 class='ui-widget-header ui-corner-top'>{% trans "Revenues" %}</h4>
<div class='centered ui-widget-content ui-corner-bottom'>
    {% csrf_token %}
    {{ formset.management_form }}
    <div class='simple-overflow-box'>
    <table class='inline-table' id='crop-selling'>
    <thead>
    <tr>
        <th class='header rowspan2'>{% trans "Harvest" %}</th>
        <th class='header2 rowspan2'>{% trans "Usage" %}</th>
        {% for idx in study.transition_years|get_range1 %}
        <th colspan='3'>n + {{idx}}</th>{% endfor %}
        <th colspan='3'>{% trans "Project" %}</th>
    </tr>
    <tr>
        <td class='firstcol-spacer' colspan='2'> </td>
        {% for idx in study.transition_years|get_range1 %}
        <th>{% trans "Available (t)" %}</th>
        <th>{% trans "Sold (t)" %}</th>
        <th>{% trans "Total (€)" %}</th>{% endfor %}
        <th>{% trans "Available (t)" %}</th>
        <th>{% trans "Sold (t)" %}</th>
        <th>{% trans "Total (€)" %}</th>
    </tr>
    </thead>
    {% inline_formset ' ' formset False False 2 %}
    {% if not formset.forms or formset.hidden %}<tr><td class='emphasis' colspan='5'>{% trans "No harvest to be sold - don't forget to fill price in <em>Settings</em>" %}</td></tr>{% endif %}
    </table>
    </div>
    {% include "simulabio/blocks/validate.html" %}
</div>
</form>
</div>

<div id='expenses' class='hidden'>
</div>

</div>
{% endblock %}

