{% extends "base.html" %}
{% load i18n simulabio_tags inline_formset range %}

{% block bodyclass%} class='study-pages economy-gen'{% endblock %}

{% block extra_head %}
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}/simulabio/js/menu-sort.js"></script>
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}/simulabio/js/table-autocomplete.js"></script>
{% endblock %}

{% block top%}
    {% main_menu %}
{% switch 'steps' step_list '' step_url '' 1 %}
{% if study %}
    {% study_menu study 'economy' 'full-economy' %}
{% endif %}
<div id='action-background' class='action-background-economy'></div>
{% endblock %}

{% block content %}
<script type='text/javascript'>
    var base_url = "{{base_url}}";
    $(document).ready(function(){
        //table_autocomplete('workshop-expense', 2, true);
    });
</script>
<div id='contener'>
{% if study %}
    {% switch 'full-economy' action_list 'workshop' base_url %}
    {% switch 'eco-workshop' workshop_list workshop.txt_idx step_url %}
{% endif %}
<form method='post' action='.'>
<h4 class='ui-widget-header ui-corner-top'>{% trans "New workshop"%}</h4>
<div class='centered ui-widget-content ui-corner-bottom'>
    {% csrf_token %}
    <p class='form'>
    <div class='overflow-box'>
    <table>
    {{form}}
    </table>
    </div></p>
    <p class='validate'><input type='submit' value="{% trans 'Create'%}"/></p>
</div>


</form>
</div>
{% endblock %}

