{% extends "base.html" %}
{% load i18n simulabio_tags %}

{% block top%}
    {% main_menu 'farms' %}
{% endblock %}

{% block content %}
    <h2>{{farm.corporate_name}}</h2>
    <p class='form'>{% if farm.address%}<ul>
        <li>{{ farm.address }} - {{ farm.postal_code }} {{farm.town}}</li>
    </ul>{%endif%}</p>
{% endblock %}

