{% extends "base.html" %}
{% load i18n simulabio_tags %}

{% block top%}
    {% main_menu 'farms' %}
{% endblock %}

{% block help %}
<p>Sur cet écran vous pouvez renseigner les informations relatives à cette
ferme.</p>

<p>L’ensemble des informations renseignées ici seront disponibles sur la page
de garde du rendu écrit. La raison sociale permettra d’identifier la ferme
parmi une liste d’autres fermes sur lesquelles vous travaillez.</p>

<p>Le choix de la zone géographique permet de faire le lien avec des références
régionales.</p>
{% endblock %}

{% block content %}
    <div class='window'>
    <form method='post' action='.'>
    {% csrf_token %}
    <table class='large'>
    {{form.as_table}}
    </table>
    <p class='validate'><input type='submit' value="{% trans 'Validate'%}"/></p>
    </form>
    </div>
{% endblock %}

