{% extends "base.html" %}
{% load i18n simulabio_tags %}

{% block top %}
    {% main_menu 'farms' %}
{% endblock %}

{% block help %}
<p>Toutes les fermes crées avec votre compte sont affichées sur cet écran.</p>

<p>Vous pouvez modifier les informations concernant les fermes en cliquant sur
le nom de la ferme.</p>

<p>Vous pouvez également créer une étude ou changer les
données des études réalisées pour ces fermes.</p>
{% endblock %}

{% block content %}
<div class='centered window'>
    {% for farm in object_list %}
    <h3><a href='{% url simulabio:farm-update farm.pk %}'>{{ farm.corporate_name }}</a></h3>
    <ul class='list'>
        {% for study in farm.study.all %}
        <li><a href='{% url simulabio:study-update farm.pk study.pk %}'>{{study.year}} &ndash; {{study.name}}</a></li>
        {% endfor %}
        <li><a href='{% url simulabio:study-add farm.pk %}'>{% trans "new study" %}</a></li>
    </ul>
    {% endfor %}
</div>
{% endblock %}
