{% extends "base.html" %}
{% load i18n simulabio_tags %}
{% load url from future %}

{% block bodyclass%} class='study-pages study-gen'{% endblock %}

{% block top%}
    {% main_menu %}
{% if object %}
    {% study_menu object 'main' generic_form.slug gen_forms %}
{% endif %}
{% endblock %}

{% block help %}
{% endblock %}

{% block content %}
<div id='contener'>
<h4 class='ui-widget-header ui-corner-top'>{{generic_form.name}}</h4>
<div class='centered ui-widget-content ui-corner-bottom'>
    <form method='post' action='.'>
    {% csrf_token %}
    <table class='generic-form'>
    {% for field in form %}
    <tr><th>{{field.label}}</th></tr>
    <tr><td>{{field}}</td></tr>
    {% endfor %}
    </table>
    {% include "simulabio/blocks/validate.html" %}
    </form>
</div>
</div>
{% endblock %}

