{% extends "base.html" %}
{% load i18n simulabio_tags inline_formset %}

{% block extra_head %}
{% for CSS in JQGRID_CSS %}
    <link type="text/css" rel="stylesheet" href="{{CSS}}"/>{% endfor %}
{% for JS in JQGRID_JS %}
    <script language="javascript" type="text/javascript" src="{{JS}}"></script>{% endfor %}
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}simulabio/js/harvest-plots.js"></script>
{% endblock %}

{% block bodyclass%} class='study-pages harvests-gen'{% endblock %}

{% block top%}
    {% main_menu %}
{% switch 'steps' step_list 'harvest' base_url '' 1 %}
{% if study %}
    {% study_menu study 'harvest' 'plots' %}
{% endif %}
{% endblock %}

{% block help %}
<h4>Import des parcelles depuis un fichier</h4>
<p>Pour entrer les parcelles, il est plus simple de recourir à un tableur. Pour
cela téléchargez le fichier <a href='{% url simulabio:plot-ref-csv %}'>CSV de référence</a>,
éditez le avec un tableur (CSV est géré par tous les logiciels de tableurs que
ce soit Open/LibreOffice ou Excel) puis importez le depuis l'interface.</p>
<p>Pour que l’import du fichier se fasse correctement, il faut s’assurer de 3
choses :</p>
<ul>
<li>renseigner obligatoire des colonnes surface et culture n (= culture en année
de diagnostic), disponible lors du diagnostic, disponible lors du projet. Ces
deux dernières colonnes ne vont pas entrainer d’erreur mais seront bloquantes
dans le reste de l’étude car les parcelles ne seront pas visibles. Cela permet
notamment de rajouter des parcelles dans le projet ou d’en supprimer.</li>
<li>remplir des champs en respectant le type de données à remplir. Pour chaque
colonne, il faut respecter le type de données autorisé. Exemple : Type de sol
(S/N/H) ; ce qui signifie que les données tolérées sont S, N et H (sec, normal
et humide). Il faut donc se méfier des copier/coller. Le champ remarque est
quant à lui totalement libre.</li>
<li>enregistrer la feuille de données en format CSV (séparateur : point-virgule)</li>
</ul>
<table>
<caption>Détail du tableau</caption>
<tr><th>Nom</th><th>Numero d'ilot</th><th>Secteur geographique</th>
<th>Type de sol (S/N/H)</th><th>Accès vache</th><th>Surface</th>
<th>Remarques</th><th>Disponible lors du diagnostic</th>
<th>Disponible lors du projet</th><th>Culture (n-2)</th><th>(...)</th></tr>
<tr>
<td>Nom de la parcelle<td></td><td></td>
<td>Sec, normal, humide</td>
<td>1 pour les parcelles accessibles aux vaches laitières</td>
<td>Surface de l'ilot ou de la parcelle</td>
<td></td>
<td>1 pour les parcelles présentes dans l'assolement au moment du diag</td>
<td>1 pour les parcelles présentes dans l'assolement au moment du projet</td>
<td><p>Culture pour l'année du diagnostic</p>
<p><strong>Il faut faire attention aux caractères entrés dans le logiciel sinon
le fichier ne sera pas lu</strong>, les valeurs possibles sont indiquées ci
dessous :</p>
<p>{% for h in harvests %}{% if forloop.counter0 %} / {% endif %}{{h.unaccented}}{% endfor %}</p>
</td>
<td>Remplir les années de transition de la même manière que l'année du diagnostic</td>
</table>


<h4>Édition/suppression des parcelles</h4>
<p>Chaque parcelle présente dans le système est affichée dans le tableau des
parcelles. En sélectionnant les parcelles, il est possible de les modifier ou
les supprimer. Il est possible d'ajouter les parcelles une par une avec le
bouton <b>Ajout</b>.
</p>
{% endblock %}

{% block content %}
<div id='contener'>
<script type='text/javascript'>
    var study_id = {{study.pk}};
    var extra_id = '';
    var plot_array = new Array();
    {% for plot in object_list %}plot_array['{{forloop.counter}}'] = '{{plot.pk}}';
    {% endfor %}
    var plot_col = "{{plot_col}}";
    var numeric_cols = new Array(
    {% for numeric_col in numeric_cols %}{% if forloop.counter0 %}, {% endif %}"{{numeric_col}}"{% endfor %}
    );
    var create_url = "{% url simulabio:harvest-plots study.pk%}";
    var dialog_opened = {% if dialog_opened %}true{%else%}false{%endif%};
    var import_result_window = {% if number_imported or import_errors or import_messages %}true{% else%}false{% endif %};
    var default_col_number = 4;
    $.localise('ui-multiselect', {path:'{{STATIC_URL}}jquery-localisation/js/locale/'});
</script>
{% if number_imported or import_errors or import_messages %}
<div id='import_result' title="{% trans "Import result" %}">
    <div class='info ui-state-highlight ui-corner-all'>
        <p><span class="ui-icon ui-icon-info"></span>
        <span>{{number_imported}} {% trans "plot(s) imported/updated" %}</span></p>
    </div>
    {% for row, col, message in import_errors %}
    <div class="warning ui-state-error ui-corner-all">
        <p><span class="ui-icon ui-icon-alert"></span>
        <span>{% trans "Row"%} {{row}}, {% trans "col"%} {{col}}{% trans ":" %} {{message}}</span></p>
    </div>{% endfor %}
    {% for msg in import_messages %}
    <div class='info ui-state-highlight ui-corner-all'>
        <p><span class="ui-icon ui-icon-info"></span>
        <span>{% trans "Row"%} {{row}}, {% trans "col"%} {{col}}{% trans ":" %} {{message}}</span></p>
    </div>{% endfor %}
    <p class='validate'><button id='import_result_ok'>{% trans "Ok"%}</button></p>
</div>
{% endif %}
<h4 class='ui-widget-header ui-corner-top first-block'>{% trans "Import plots from file" %}</h4>
<div class='centered ui-widget-content ui-corner-bottom'>
    {% url simulabio:plot-ref-csv as plot-ref-csv %}{% trans "download" as trans_download %}
    <p> Pour importer des données, veuillez télécharger ce
    <a href='{% url simulabio:plot-ref-csv %}'>fichier</a> puis suivez les
    instructions indiquée dans l'aide.</p>
    <form method='post' enctype="multipart/form-data" action='.'>
    {% csrf_token %}
    {{file_form.as_p}}
    <p class='validate'><input type='submit' value="{% trans 'Validate'%}"/></p>
    </form>
</div>
<h4 class='ui-widget-header ui-corner-top'>{% trans "Plots" %}</h4>
<div class='centered ui-widget-content ui-corner-bottom'>
<div id="plot_list_div">
    {% plot_table study 'plot_list' year_2 year_1 year object_list %}
</div>
    <p class='validate'>
    <button id='plots_add' class='submit'>{% trans "Add" %}</button>
    <button id='plots_modify' class='submit'>{% trans "Modify" %}</button>
    <button id='plots_remove' class='submit'>{% trans "Remove" %}</button>
    </p>
    <div class='centered'>
        <button id='column_chooser' class='submit'>{% trans "Manage column visibility and order" %}</button>
    </div>
<div id='plot_form' title="{% trans "Create/modify plot" %}">
    <form method='post' action='.'>
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <p class='validate'><input type='submit' value="{% trans 'Validate'%}"/></p>
    </form>
</div>
</div>
</div>
<div class='centered ui-widget-content ui-corner-bottom'>
    <div class='info ui-state-highlight ui-corner-all'>
        <p><span class="ui-icon ui-icon-info"></span>
        <span>{% trans "If an image of parcels is provided it will be used in the report in place of a table." %}</span></p>
    </div>
</div>
{% endblock %}
