{% extends "base.html" %}
{% load i18n simulabio_tags inline_formset %}

{% block bodyclass%} class='study-pages harvests-gen'{% endblock %}

{% block top%}
    {% main_menu %}
{% switch 'steps' step_list step base_url %}
{% if study %}
    {% study_menu study 'harvest' 'rotationdominant' %}
{% endif %}
<div id='action-background' class='action-background-harvest'></div>
{% endblock %}

{% block help %}
<p>Une fois le parcellaire renseigné, il faut leur définir une rotation.
Pour cela il faut créer ou sélectionner une rotation.</p>

<p>Dans le cas d’une rotation que vous désirez créer de toute pièce : cliquez
sur <strong>ajouter &gt; rotation vide &gt; modifier</strong> puis cliquez sur
les cultures dans l’ordre de la rotation choisie. Si vous désirez modifier une
rotation que vous avez choisie ou créee, il vous suffit de cliquer sur
<strong>modifier</strong>.</p>

<p>Suite à cela il ne vous reste plus qu’à choisir les parcelles qui sont
affectées aux rotations.</p>

<p>Pour cela choisissez une rotation, puis choisissez les parcelles en cliquant
sur ajouter en bas de l’écran et en sélectionnant les parcelles. Vous pouvez
supprimer des parcelles d’une rotation et ainsi vous les rendez à nouveau
disponible pour d’autres rotations.</p>

<p>La gestion de la lisibilité des colonnes vous permet de faciliter la choix
des parcelles en fonction des caractéristiques que vous aurez retenues.</p>
{% endblock %}

{% block extra_head %}
{% for CSS in JQGRID_CSS %}
    <link type="text/css" rel="stylesheet" href="{{CSS}}"/>{% endfor %}
{% if rotation %}
     <script type='text/javascript'>
     var bsmRemoveLabel = "X";
     var bsmAddLabel = "{% trans "Add" %}";
     </script>
    {{ harvestrotation_form.media }}
{% endif %}
{% for JS in JQGRID_JS %}
    <script language="javascript" type="text/javascript" src="{{JS}}"></script>{% endfor %}
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}simulabio/js/harvest-plots.js"></script>
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}simulabio/js/harvest-rotations.js"></script>
    <style type='text/css'>
{% for category in categories %}
ul#rotation_template_harvests li.{{category.name|slugify}}{
    background-color:#{{category.color}};
}{% endfor %}
    </style>
{% endblock %}
{% block content %}
<script type='text/javascript'>
    var extra_id = '';
    var import_result_window;
    var base_url = "{{base_url}}";
    var delete_url = "{{delete_url}}";
    var confirm_label = "{% trans 'Confirm' %}";
    var cancel_label = "{% trans 'Cancel' %}";
    var dialog_opened = false;
    var default_col_number = 4;
    $.localise('ui-multiselect', {path:'{{STATIC_URL}}jquery-localisation/js/locale/'});
    var plot_array = new Array();
    {% for plot in object_list %}plot_array['{{forloop.counter}}'] = '{{plot.pk}}';
    {% endfor %}
    var plot_col = "{{plot_col}}";
    var numeric_cols = new Array(
    {% for numeric_col in numeric_cols %}{% if forloop.counter0 %}, {% endif %}"{{numeric_col}}"{% endfor %}
    );
    {% if rotation %}
    var create_url = "{% url simulabio:harvest-rotationdominant-detail study.pk step rotation.pk %}";
    {% else %}
    var create_url = "{% url simulabio:harvest-rotationdominant study.pk step %}";
    {% endif %}
</script>
<div id='contener'>
{% if step == 'D' %}
<div class="warning ui-state-error ui-corner-all">
    <p><span class="ui-icon ui-icon-alert"></span>
    <span>{% trans "In diagnostic, the filling of this form is only indicative and not mandatory." %}</span></p>
</div>
{% endif %}
<h4 class='ui-widget-header ui-corner-top first-block'>{% trans "Rotation" %}</h4>
<div id='rotation_templates' class='centered ui-widget-content ui-corner-bottom'>
    {% if rotations %}
    <p><select id='rotation_template'>
        <option value=''{% if not rotation.pk%} selected='selected'{%endif%}>--</option>
    {% for rot in rotations %}
        <option value='{{rot.pk}}'{% ifequal rot.pk rotation.pk%} selected='selected'{%endifequal%}>{{rot.name}}</option>{% endfor%}
    </select></p>
    {% endif %}
    {% if rotation %}
    {% include "simulabio/blocks/rotation_indicator.html" %}
    {% endif %}
    <p class='validate'>
        <button id='rotation_template_add' class='submit'>{% trans "Add" %}</button>
        {% if rotation %}
        <button id='rotation_modify' class='submit'>{% trans "Modify" %}</button>
        <button id='rotation_template_remove' class='submit'>{% trans "Remove" %}</button>
        <div id="rotation_template_remove_confirm" title="{% trans "Confirmation"%}">
            {% trans "Are you sure about removing this rotation?" %}
        </div>
        {% endif %}
    </p>
</div>

<div id='rotation_template_add_form' title="{% trans "Add a new rotation" %}">
    <form method='post' action='.'>
        {% csrf_token %}
        <table>
        {{ template_form.as_table }}
        </table>
        <p class='validate'><input type='submit' value="{% trans 'Validate'%}"/></p>
    </form>
</div>
{% if rotation %}
<div id='rotation_modify_form' title="{% trans "Modify a rotation" %}">
    <form method='post' action='.'>
        {% csrf_token %}
        <table>
        {{ harvestrotation_form.as_table }}
        </table>
        <p class='validate'><input type='submit' value="{% trans 'Validate'%}"/></p>
    </form>
</div>

<h4 class='ui-widget-header ui-corner-top'>{% trans "Associated plots" %}</h4>
<div class='centered ui-widget-content ui-corner-bottom'>
{% if object_list %}
<div id="rotation_list_div">
    {% plot_table study 'plot_list' year_2 year_1 year object_list %}
</div>
<div class='centered'>
    <button id='column_chooser' class='submit'>{% trans "Manage column visibility and order" %}</button>
</div>
{% endif %}
<p class='validate'>
    <button id='plots_add' class='submit'>{% trans "Add" %}</button>
    <button id='plots_remove' class='submit'>{% trans "Remove" %}</button>
</p>
<div id='plot_form' title="{% trans "Add plot" %}">
    <form method='post' action='.'>
    {% csrf_token %}
    {% for field in form %}
    {{ field|safe }}
    {% endfor %}
    <p class='validate'><input type='submit' value="{% trans 'Add'%}"/></p>
    </form>
</div>
</div>
{% endif %}
</div>

{% endblock %}
