{% extends "simulabio/harvest_plots.html" %}
{% load i18n simulabio_tags %}

{% block bodyclass%} class='study-pages harvests-gen'{% endblock %}

{% block extra_head %}
{% for CSS in JQGRID_CSS %}
    <link type="text/css" rel="stylesheet" href="{{CSS}}"/>{% endfor %}
{% for JS in JQGRID_JS %}
    <script language="javascript" type="text/javascript" src="{{JS}}"></script>{% endfor %}
{% endblock %}

{% block content %}
    {% main_menu %}
<div id='contener'>
<h4 class='ui-widget-header ui-corner-top first-block'>{% trans "Delete plots" %}</h4>
<div class='centered ui-widget-content ui-corner-bottom'>
<p>{% trans "Are you sure you want to delete:" %}</p>
<ul>
    {% for item in object_list %}
    <li>{{item}}</li>{% endfor%}
</ul>
<p class='validate'>
    <form method='post' action='.'>
    {% csrf_token %}
    <button class='submit' id='back_button'>{% trans "Back" %}</button>
    <input type='submit' name='delete' value="{% trans "Remove" %}"/>
    </form>
</p>
</div>
</div>

{% endblock %}
