{% extends "base.html" %}
{% load i18n simulabio_tags inline_formset range %}

{% block extra_head %}
{% for CSS in JQGRID_CSS %}
    <link type="text/css" rel="stylesheet" href="{{CSS}}"/>{% endfor %}
{% for JS in JQGRID_JS %}
    <script language="javascript" type="text/javascript" src="{{JS}}"></script>{% endfor %}
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}simulabio/js/harvest-plots.js"></script>
{% endblock %}

{% block bodyclass%} class='study-pages harvests-gen'{% endblock %}

{% block top%}
    {% main_menu %}
{% switch 'steps' step_list 'harvest' base_url '' 1 %}
{% if study %}
    {% study_menu study 'harvest' 'plotsfull' %}
{% endif %}
{% endblock %}

{% block content %}
<div id='contener'>
<script type='text/javascript'>
    var study_id = {{study.pk}};
    var extra_id = 'full';
    var plot_array = new Array();
    {% for plot in object_list %}plot_array['{{forloop.counter}}'] = '{{plot.pk}}';
    {% endfor %}
    var plot_col = "{{plot_col}}";
    var numeric_cols = new Array(
    {% for numeric_col in numeric_cols %}{% if forloop.counter0 %}, {% endif %}"{{numeric_col}}"{% endfor %}
    );
    var create_url = "{% url simulabio:harvest-plots study.pk%}";
    var dialog_opened = {% if dialog_opened %}true{%else%}false{%endif%};
    var import_result_window = {% if number_imported or import_errors or import_messages %}true{% else%}false{% endif %};
    var default_col_number = 14 + {{study.transition_years}};
    $.localise('ui-multiselect', {path:'{{STATIC_URL}}jquery-localisation/js/locale/'});
</script>
<form method='post' action='.'>
{% if formset.errors %}
    <div class="warning ui-state-error ui-corner-all">
        <p><span class="ui-icon ui-icon-alert"></span>
        <span>{% trans "There are errors in this form. Your changes have not been saved!" %}</span></p>
    </div>
{% endif %}
<h4 class='ui-widget-header ui-corner-top'>{% trans "Plots" %}</h4>
<div id='hidden-div' class='hidden'></div>
<div class='centered ui-widget-content ui-corner-bottom'>
    {% csrf_token %}
    {{ formset.management_form }}
    <div class='overflow-box'>
    <table class='inline-table large-table' id="plot_list">
    <thead>
    <tr>
        <th>{% trans "Available in diag." %}</th>
        <th>{% trans "Available in proj." %}</th>
        <th>{% trans "Plot caracteristic" %}</th>
        <th>{% trans "Name" %}</th>
        <th>{% trans "Area" %}</th>
        <th>{% trans "Geographical area" %}</th>
        <th>{% trans "Soil type" %}</th>
        <th>{% trans "Cow access" %}</th>
        <th>{% trans "Remark" %}</th>
        <th>{% trans "Rotation dominant diagnostic" %}</th>
        <th>{% trans "Rotation dominant project" %}</th>
        {% for harvest_lbl in study.harvest_lbls %}
        <th>{{ harvest_lbl }}</th>{% endfor%}
    </tr>
    </thead>
    {% inline_formset ' ' formset false false 0 1 %}
    </table>
    </div>
    <p class='validate'>
        <input type='submit' value="{% trans 'Modify'%}" onclick="$('#waiting').show();"/>
        <button id='cancel-form'>{% trans "Cancel" %}</button>
    </p>
    <div class='centered'>
        <button id='column_chooser' class='submit' onclick='return false'>{% trans "Manage column visibility and order" %}</button>
    </div>
</div>
</form>
</div>
{% endblock %}


