{% extends "base.html" %}
{% load i18n range simulabio_tags %}

{% block bodyclass%} class='study-pages balance-gen'{% endblock %}

{% block extra_head %}
<style type='text/css'>
{% for category in categories %}
.inline-table td.production.{{category.name|slugify}},
.inline-table th.harvest.{{category.name|slugify}}{
    background-color:#{{category.color}};
}{% endfor %}
</style>
{% endblock %}

{% block help %}
<p>C’est un écran de lecture qui permet de récapituler l’ensemble de la
production de cultures possible sur l’exploitation par année.</p>
{% endblock %}

{% block top%}
    {% main_menu %}
{% switch 'steps' step_list '' base_url '' 1 %}
{% if object %}
    {% study_menu object 'balance' 'production' %}
{% endif %}
<div id='action-background' class='action-background-balance'></div>
{% endblock %}

{% block content %}
<div id='contener'>
<h4 class='ui-widget-header ui-corner-top first-block'>{% trans "Production" %}</h4>
<div class='centered ui-widget-content ui-corner-bottom'>
    <div class='simple-overflow-box'>
    <table class='inline-table' id='harvest-production'>
    {% comment %}
    <tr><th rowspan='4'>Cultures</th><th colspan='4'><a href='#' onclick="$('.col-1').fadeToggle(); $(this).attr('rowspan', $('#harvest-production tr').length);">X</a></th><th rowspan='4' class='col-1'>Variation</th><th colspan='4'>X</th></tr>
    {% endcomment %}
    <tr>
        <th class='header rowspan3'>Cultures</th><th class='border-right-bold' colspan='4'>Diag</th><th class='delta' rowspan='3'>Var.<br/>Diag/<br/>Projet</th>
        {% for year in study.transition_years|get_range1 %}<th class='border-right-bold' colspan='4'>n + {{year}}</th>{% endfor %}
        <th colspan='4'>Projet</th>
    </tr>
    <tr>
        <td class='firstcol-spacer'> </td>
        <th class='sau'>SAU</th><th class='production' class='border-right-bold' colspan='3'>Production</th>
        {% for idx in study.transition_years|get_range %}<th class='sau'>SAU</th><th class='production border-right-bold' colspan='3'>Production</th>{% endfor %}
        <th class='sau'>SAU</th><th class='production' class='border-right-bold' colspan='3'>Production</th>
    </tr>
    <tr>
        <td> </td>
        <th class='sau'>Ha</th><th class='production'>Fourr.</th><th class='production'>Grain</th><th class='production' class='border-right-bold'>Paille</th>
        {% for idx in study.transition_years|get_range %}<th class='sau'>Ha</th><th class='production'>Fourrage</th><th class='production'>Grain</th><th class='production' class='border-right-bold'>Paille</th>{% endfor %}
        <th class='sau'>Ha</th><th class='production'>Fourr.</th><th class='production'>Grain</th><th class='production' class='border-right-bold'>Paille</th>
    </tr>
    {% for harvestsetting in object_list %}
    <tr class='{% if forloop.counter0|divisibleby:2 %}odd{% else %}even{% endif %}'>
        <th class='header harvest {{harvestsetting.harvest.category.name|slugify}}'>{{harvestsetting.harvest}}</th>
        {% with hs_year=harvestsetting.harvestsetting_diag %}
        <td class='sau'>{{hs_year.surface_total|floatformat:"1"}}</td><td class='production {{harvestsetting.harvest.category.name|slugify}}'>{{hs_year.forage_yield_total|floatformat:"1"}}</td><td class='production {{harvestsetting.harvest.category.name|slugify}}'>{{hs_year.grain_yield_total|floatformat:"1"}}</td><td class='production {{harvestsetting.harvest.category.name|slugify}}' class='border-right-bold'>{{hs_year.straw_yield_total|floatformat:"1"}}</td>
        {% endwith %}
        <td class='delta border-right-bold'>{{harvestsetting.surface_delta|floatformat:"1"}}</td>
        {% for hs_year in harvestsetting.transition_years %}
        <td class='sau' class='border-right'>{{hs_year.surface_total|floatformat:"1"}}</td><td class='production {{harvestsetting.harvest.category.name|slugify}}'>{{hs_year.forage_yield_total|floatformat:"1"}}</td><td class='production {{harvestsetting.harvest.category.name|slugify}}'>{{hs_year.grain_yield_total|floatformat:"1"}}</td><td class='production {{harvestsetting.harvest.category.name|slugify}}' class='border-right-bold'>{{hs_year.straw_yield_total|floatformat:"1"}}</td>
        {% endfor %}
        {% with hs_year=harvestsetting.harvestsetting_project %}
        <td class='sau' class='border-right'>{{hs_year.surface_total|floatformat:"1"}}</td><td class='production {{harvestsetting.harvest.category.name|slugify}}'>{{hs_year.forage_yield_total|floatformat:"1"}}</td><td class='production {{harvestsetting.harvest.category.name|slugify}}'>{{hs_year.grain_yield_total|floatformat:"1"}}</td><td class='production {{harvestsetting.harvest.category.name|slugify}}'>{{hs_year.straw_yield_total|floatformat:"1"}}</td>
        {% endwith %}
    </tr>
    {% endfor %}
    </table>
    </div>
</div>
</div>
{% endblock %}
