{% extends "base.html" %}
{% load i18n simulabio_tags inline_formset %}

{% block bodyclass%} class='study-pages harvests-gen'{% endblock %}

{% block top%}
    {% main_menu %}
{% switch 'steps' step_list 'harvest' base_url '' 1 %}
{% if study %}
    {% study_menu study 'harvest' 'indicators' %}
{% endif %}
<div id='action-background' class='action-background-harvest'></div>
{% endblock %}

{% block help %}
{% endblock %}

{% block extra_head %}
    <style type='text/css'>
{% for category in categories %}
ul#rotation_template_harvests li.{{category.name|slugify}}{
    background-color:#{{category.color}};
}{% endfor %}
    </style>
{% endblock %}
{% block content %}
<div id='contener'>
  <h4 class='ui-widget-header ui-corner-top first-block'>{% trans "Rotations diagnostic" %}</h4>
  <div class='centered ui-widget-content ui-corner-bottom'>
    <form>
    {% for rotation in diag_rotations %}
    <h4>{{rotation}}</h4>
    {% include "simulabio/blocks/rotation_indicator.html" %}
    {% endfor %}
    </form>
  </div>
  <h4 class='ui-widget-header ui-corner-top'>{% trans "Rotations project" %}</h4>
  <div class='centered ui-widget-content ui-corner-bottom'>
    <form>
    {% for rotation in project_rotations %}
    <h4>{{rotation}}</h4>
    {% include "simulabio/blocks/rotation_indicator.html" %}
    {% endfor %}
    </form>
  </div>
</div>

{% endblock %}
