{% extends "base.html" %}
{% load i18n simulabio_tags inline_formset %}

{% block extra_head %}
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}/simulabio/js/menu-sort.js"></script>
{% endblock %}

{% block bodyclass%} class='study-pages harvests-gen'{% endblock %}

{% block top%}
    {% main_menu %}
{% switch 'steps' step_list '' base_url '' 1 %}
{% if object %}
    {% study_menu object 'harvest' 'settings' %}
{% endif %}
<div id='action-background' class='action-background-harvest'></div>
{% endblock %}

{% block content %}
<div id='contener'>
<form method='post' action='.'>
{% if study.transition_years %}
<h4 class='ui-widget-header ui-corner-top first-block'>{% trans "Transition years" %}</h4>
<div class='centered ui-widget-content ui-corner-bottom'>
    <p class='form'>
    <div class='overflow-box'>
    <table class='inline-table'>
    <thead>
    <tr>
      <td></td>{% for field in transition_form %}
      <th>{{field.label}}</th>{% endfor%}
    </tr>
    </thead>
    <tbody>
    <tr>
      <th>{% trans "Yield type" %}</th>{% for field in transition_form %}
      <td>{{field}}</td>{% endfor%}
    </tr>
    </tbody>
    </table>
    </div>
    </p>
    {% include "simulabio/blocks/validate.html" %}
</div>{% endif %}
<h4 class='ui-widget-header ui-corner-top{% if not study.transition_years %} first-block{% endif %}'>{% trans "Harvest settings" %}</h4>
<div class='centered ui-widget-content ui-corner-bottom'>
    {% csrf_token %}
    {{ formset.management_form }}
    <div class='overflow-box'>
    <table class='inline-table'>
    <thead>
    <tr>
        <th rowspan='2'>{% trans "Harvest" %}</th>
        <th colspan='2'>{% trans "Forage yield" %}</th>
        <th colspan='2'>{% trans "Grain yield" %}</th>
        <th colspan='2'>{% trans "Straw yield" %}</th>
    </tr>
    <tr>
        <th>{% trans "Diagnostic" %}</th>
        <th>{% trans "Project" %}</th>
        <th>{% trans "Diagnostic" %}</th>
        <th>{% trans "Project" %}</th>
        <th>{% trans "Diagnostic" %}</th>
        <th>{% trans "Project" %}</th>
    </tr>
    </thead>
    {% inline_formset ' ' formset False %}
    </table>
    </div>
    {% include "simulabio/blocks/validate.html" %}
</div>
</form>
</div>
{% endblock %}
