{% extends "base.html" %}
{% load i18n simulabio_tags %}
{% load url from future %}

{% block bodyclass%} class='study-pages study-gen'{% endblock %}

{% block top%}
    {% main_menu %}
{% if object %}
    {% study_menu object 'main' 'general' gen_forms %}
{% endif %}
{% endblock %}

{% block help %}
<p>Sur cet écran vous avez la possibilité de renseigner le nom de votre
hypothèse de travail sur la ferme. Puis vous renseignez l’année. Il s’agit de
l’année de référence (ou année diagnostic = état initial). C’est à partir de
cette année que se fait l’étude. Toutes les données récupérées devront alors
provenir de cette année là (assolement, données comptables, production
laitière, taille et composition du troupeau).</p>

<p>Puis vous renseignez le nombre d’années de transition. Trois années de
transition pour atteindre un système pour atteindre un régime de croisière
semble un minimum mais en fonction des demandes (agriculteur, préconisations
du conseiller), le système initial sera plus ou moins loin du système en
projet.</p> {% endblock %}

{% block content %}
<div id='contener'>
<h4 class='ui-widget-header ui-corner-top'>{% trans "Study" %}</h4>
<div class='centered ui-widget-content ui-corner-bottom'>
    <form method='post' action='.'>
    {% csrf_token %}
    <table class='large'>
    {{form.as_table}}
    </table>
    {% if object %}{% include "simulabio/blocks/validate.html" %}
    {% else %}<p class='validate'>
        <input type='submit' value="{% trans 'Create'%}"/>
    </p>{% endif %}
    </form>
</div>
</div>
{% endblock %}

