{% extends "base.html" %}
{% load i18n simulabio_tags %}
{% load url from future %}

{% block bodyclass%} class='study-pages study-gen'{% endblock %}

{% block top%}
    {% main_menu %}
{% if study %}
    {% study_menu study 'main' 'report_gen' gen_forms %}
{% endif %}
{% endblock %}

{% block content %}
<div id='contener'>
{% if study %}

{% if form.non_field_errors %}
<div class='centered ui-widget-content ui-corner-bottom'>
    <div class="warning ui-state-error ui-corner-all">
        {% for error in form.non_field_errors %}<p><span class="ui-icon ui-icon-alert"></span>
        <span>{{error}}</span></p>{% endfor %}
    </div>
</div>
{% endif %}

<h4 class='ui-widget-header ui-corner-top'>{% trans "Report" %}</h4>
<div class='centered ui-widget-content ui-corner-bottom'>
    <form method='post' action='.'>
    {% csrf_token %}
    <table class='large'>
    <tr><td class='centered'><input type='checkbox' class='check-all' checked='checked'/> {% trans "(all/none)" %}</td><td></td><th>{% trans "Template" %}</th></tr>
    {% for field in form %}
      {% if forloop.counter0|divisibleby:2 %}<tr>
        <td>{{field}}</td>{% else %}
        <td>{{field.label}}</td><td>{{field}}</td></tr>{% endif %}
    {% endfor %}
    </table>
    <p class='validate'>
    <input type='submit' value="{% trans 'Create' %}" onclick="$('#waiting').show();"/>
    </p>
    </form>
</div>
{% endif %}
</div>
{% endblock %}

