{% extends "base.html" %}
{% load i18n simulabio_tags %}

{% block help %}
<p>Bienvenue dans sur le serveur du Simulabio.</p>

<p>Vous êtes actuellement sur une plateforme qui héberge des références, des
calculs ainsi que toutes les données que vous aurez remplies sur ce site
(fermes, hypothèses sur chaque ferme).</p>

<p>Pour commencer une simulation créez une ferme puis démarrez une nouvelle
étude.</p>

<p>Pour réaliser une étude, nous conseillons de suivre la démarche suivante :</p>

<ul>

<li>commencer par définir une rotation agronomique adaptée aux parcelles ;</li>

<li>définir avec l’éleveur un objectif de production laitière et renseigner le
nombre de vaches pour y parvenir en fonction du niveau laitier choisi ;</li>

<li>vérifier si l’hypothèse est viable grâce à la lecture rapide du bilan de
surface ;</li>

<li>dans bilan fourrager attribuer les usages aux cultures afin de répondre aux
besoins alimentaires et compléter par des achats si nécessaire ;</li>

<li>évaluer les impacts économiques en renseignant soit l’éco simplifiée pour
avoir une idée rapide de la viabilité économique du système. L’éco complète
permettra de recomposer l’exploitation d’un point de vue économique.</li>

</ul>


{% endblock %}

{% block content %}
<div class='window' id='welcome'>
<h4>Bienvenue {{ user.username }}</h4>
{% main_menu 0 %}
</div>
{% endblock %}
