{% load i18n simulabio_tags %}
{% load url from future %}
<h4 class='ui-widget-header ui-corner-top{% if not object.feed_template %} first-block-3-menu{%endif%}'>{% trans "Reference feed" %}</h4>
<div class='centered ui-widget-content ui-corner-bottom'>
    {% if object.feed_template %}
    <div class='warning ui-state-error ui-corner-all'>
        <p><span class="ui-icon ui-icon-alert"></span><span>{% trans "Changing the reference feed will remove changes for this feed." %}</span></p>
    </div>{% endif %}
    <form method='post' action='.'>
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    {% if feed_template %}
    <div id="feed_template"></div>
    {% endif %}
    <p class='validate'><input type='submit' value="{% trans 'Validate'%}"/></p>
    </form>
</div>
