{% load i18n %}
    {% if extra_formset.non_field_errors %}<div class='errors'>{{extra_formset.non_field_errors.as_ul}}</div>{% endif %}
    {% if header %}<table class='inline-table'>
    <caption>{% trans caption %}</caption>
    {% endif %}{% for frm in formset%}
    {% if frm.non_field_errors %}
    <tr><td class='error' colspan='{{frm.visible_fields|length}}'>{{frm.non_field_errors.as_ul}}</td></tr>
    {% endif %}
    {% if header %}<thead>
    <tr>{% for field in frm.visible_fields%}
        <th>{{field.label}}</th>{%endfor%}
    </tr>
    </thead>{% endif %}
    {% if forloop.first and not skip %}<tbody>{%endif%}
    {% if not skip or not forloop.first %}<tr class='{% if forloop.counter0|divisibleby:2 %}odd{% else %}even{% endif %}'>{% endif %}
          {% for hidden in frm.hidden_fields %}
            {{ hidden }}
          {% endfor %}
    {% for field in frm.visible_fields %}
        {% if forloop.counter0 < nb_col_hasheader  %}<th class='header{% if forloop.counter0 %}{{forloop.counter}}{% endif %}'>{% else %}<td>{% endif %}
        {% if field.errors %}<div class='errors'>{{ field.errors.as_ul }}</div>{% endif %}
        {{ field }}
        {# Include the hidden fields in the form #}
        {% if forloop.first %}
          {{ formset.management_form }}
        {% endif %}
        {% if forloop.counter0 < nb_col_hasheader %}</th>{% else %}</td>{% endif %}{% endfor %}
    {% if not skip or not forloop.last %}</tr>{% endif %}{%endfor%}
    {% if not skip %}</tbody>{% endif %}
    {% if table_hidden %}</table><table class='hidden'>
    <tr><td>
    {% for frm in formset%}
          {% for hidden in frm.hidden_fields %}
            {{ hidden }}
          {% endfor %}
          {% endfor %}</td></tr>
    {% endif %}
{% if header %}</table>{% endif %}
