{% load i18n %}
<div id='menu'>
  <ul>
    <li>
      <a class='action-icon' href='{% url simulabio:farm-list %}'><img src="{{STATIC_URL}}/simulabio/img-new/icons/farm-list{% if grey_bg %}-grey{% endif %}.png"/></a>
      <div class='vmenu-tooltip'>{% trans "Farm list" %}</div>
    </li>
    <li>
      <a class='action-icon' href='{% url simulabio:farm-add %}'><img src="{{STATIC_URL}}/simulabio/img-new/icons/add-farm{% if grey_bg %}-grey{% endif %}.png"/></a>
      <div class='vmenu-tooltip'>{% trans "New farm" %}</div>
    </li>
    <li>
      <a class='action-icon' href='mailto:{{CONTACT_EMAIL}}'><img src="{{STATIC_URL}}/simulabio/img-new/icons/contact{% if grey_bg %}-grey{% endif %}.png"/></a>
      <div class='vmenu-tooltip'>{% trans "Contact us" %}</div>
    </li>
    <li>
      <a class='action-icon' href='#'><img id='help-button' src="{{STATIC_URL}}/simulabio/img-new/icons/help{% if grey_bg %}-grey{% endif %}.png"/></a>
      <div class='vmenu-tooltip'>{% trans "Help" %}</div>
    </li>
    <li>
      <a class='action-icon' href='{% url auth_logout %}'><img src="{{STATIC_URL}}/simulabio/img-new/icons/login{% if grey_bg %}-grey{% endif %}.png"/></a>
      <div class='vmenu-tooltip'>{% trans "Logout" %}</div>
    </li>
  </ul>
</div>
