{% load i18n range %}
    <table id='{{plot_id}}'>
    <thead>
    <tr>
        <th>{% trans "Plot group number" %}</th>
        <th>{% trans "Name" %}</th>
        <th>{% trans "Area" %}</th>
        <th>{% trans "Geographical area" %}</th>
        <th>{% trans "Soil type" %}</th>
        <th>{% trans "Cow access" %}</th>
        <th>{% trans "Remark" %}</th>
        {% if not printing %}<th>{% trans "Available in diag." %}</th>
        <th>{% trans "Available in proj." %}</th>{% endif %}{% for harvest_lbl in study.harvest_lbls %}
        <th>{{ harvest_lbl }}</th>{% endfor%}
    </tr>
    </thead>
    <tbody>
    {% for plot in object_list %}
    <tr>
        <td>{% if plot.plot_group_number %}{{plot.plot_group_number}}{% endif %}</td>
        <td>{{plot.name}}</td>
        <td>{{plot.area|floatformat:2}}</td>
        <td>{{plot.geographical_area}}</td>
        <td>{{plot.soil_type|default_if_none:""}}</td>
        <td>{%if plot.cow_access%}{% trans "Yes" %}{%else%}{% trans "No" %}{%endif%}</td>
        <td>{{plot.remark}}</td>
        {% if not printing %}<td>{%if plot.diagnostic%}{% trans "Yes" %}{%else%}{% trans "No" %}{%endif%}</td>
        <td>{%if plot.project%}{% trans "Yes" %}{%else%}{% trans "No" %}{%endif%}</td>{% endif %}
        <td>{{plot.harvest_n2|default_if_none:""}}</td>
        <td>{{plot.harvest_n1|default_if_none:""}}</td>
        <td>{{plot.harvest|default_if_none:""}}</td>
        {% for idx in study.transition_years|get_range %}
        <td>{{plot.harvest_transitions|get_index:idx}}</td>{% endfor %}
    </tr>
    {% endfor %}
    </tbody>
    </table>
