{% load i18n %}
    <img class='rotation-image' src='{{MEDIA_URL}}{{rotation.image_path}}'/>
    <div id='rotation_template_container'>
      <ul id='rotation_template_harvests'>
      {% for rd_harvest in rotation.rotation_dominant_harvest.all %}
        <li class='{{rd_harvest.harvest.category.name|slugify}}{%if forloop.last%} last-item{%endif%}'>{{rd_harvest.harvest.name}}</li>
      {% endfor %}
      </ul>
    </div>
    {%  if rotation.rotation_dominant_template.remark %}
    <div class='centered ui-widget-content ui-corner-all' id='remark'>
        {{rotation.rotation_dominant_template.remark}}
    </div>
    {% endif %}
    <table class="large">
      <tr>
        <th><label>{% trans "Surface:" context "rotation" %} </label></th>
        <td>{{rotation.surface|floatformat:2}} ha</td>
      </tr>
      <tr>
        <th><label>{% trans "Number of years:" %} </label></th>
        <td>{{rotation.length|floatformat:0}}</td>
      </tr>
      <tr>
        <th><label>{% trans "Elementary surface:" context "rotation" %} </label></th>
        <td>{{rotation.elementary_surface|floatformat:2}} ha</td>
      </tr>
      <tr>
        <th><label>{% trans "Parcel number:" context "rotation" %} </label></th>
        <td>{{rotation.parcel_number|floatformat:0}}</td>
      </tr>
      <tr>
        <th><label>{% trans "Average size of the parcel:" context "rotation" %} </label></th>
        <td>{{rotation.avg_surface|floatformat:2}} ha</td>
      </tr>
      <tr>
        <th><label>{% trans "Surface by harvest:" context "rotation" %} </label></th>
        {% with areas=rotation.areas_by_harvest %}
        <td>{% for harvest, surface in areas %}{% if forloop.counter0 %}, {% endif %}{{harvest}}{% trans ":" %}{{surface|floatformat:2}} ha{% endfor %}.</td>
        {% endwith %}
      </tr>
    </table>

