{% load i18n %}
<div id='main-study-menu' class='menu'>
<ul>
    <li id='study-link'{% ifequal category 'main'%} class='ui-state-active'{% endifequal%}>
        <a href='{% url simulabio:study-update study.farm.pk study.pk %}'>{% trans "Study" %}</a>
        <div class='menu-tooltip'>{% trans "Study" %}</div>
    </li>
    <li id='harvest-link'{% ifequal category 'harvest'%} class='ui-state-active'{% endifequal%}>
        <a href='{% url simulabio:harvest-plots study.pk %}'>{% trans "Harvest" %}</a>
        <div class='menu-tooltip'>{% trans "Harvest" %}</div>
    </li>
    <li id='animals-link'{% ifequal category 'animals'%} class='ui-state-active'{% endifequal%}>
        <a href='{% url simulabio:animals-herd study.pk %}'>{% trans "Animals" %}</a>
        <div class='menu-tooltip'>{% trans "Animals" %}</div>
    </li>
    <li id='balance-link'{% ifequal category 'balance'%} class='ui-state-active'{% endifequal%}>
        <a href='{% url simulabio:harvest-production study.pk %}'>{% trans "Balance" context 'Menu'%}</a>
        <div class='menu-tooltip'>{% trans "Balance" context 'Menu'%}</div>
    </li>
    <li id='economy-link'{% ifequal category 'economy'%} class='ui-state-active'{% endifequal%}>
        <a href='{% url simulabio:economy-simple-initial study.pk %}'>{% trans "Economy" %}</a>
        <div class='menu-tooltip'>{% trans "Economy"%}</div>
    </li>
</ul>
</div>

<div id='study-title'>{{study.farm|capfirst}} - {{study|capfirst}}</div>

<ul id='study-menu' class='menu'>
    {% ifequal category 'main'%}
    <li{% ifequal action 'general'%} class='ui-state-active'{% endifequal%}>
        <a href='{% url simulabio:study-update study.farm.pk study.pk %}'>{% trans "Study" %}</a>
    </li>{% for gen_form in gen_forms %}<li class='large {% ifequal action gen_form.slug %}ui-state-active{% endifequal%}'>
        <a href='{% url simulabio:generic-form study.pk gen_form.slug %}'>{{gen_form.name}}</a>
    </li>
    <li{% ifequal action 'report_gen'%} class='ui-state-active'{% endifequal%}>
        <a href='{% url simulabio:report-generation study.pk %}'>{% trans "Generate a report" %}</a>
    </li>
    {% endfor %}
    {% endifequal %}
    {% ifequal category 'harvest'%}
    <li{% ifequal action 'plots'%} class='ui-state-active'{% endifequal%}>
        <a href='{% url simulabio:harvest-plots study.pk %}'>{% trans "Plots" %}</a>
    </li>
    <li{% ifequal action 'rotationdominant'%} class='ui-state-active'{% endifequal%}>
        <a href='{% url simulabio:harvest-rotationdominant study.pk %}'>{% trans "Rotations" context "Menu" %}</a>
    </li>
    <li{% ifequal action 'plotsfull'%} class='ui-state-active'{% endifequal%}>
        <a href='{% url simulabio:harvest-plots-full study.pk %}'>{% trans "Plots - summary" context "Menu" %}</a>
    </li>
    <li{% ifequal action 'indicators'%} class='ui-state-active'{% endifequal%}>
        <a href='{% url simulabio:harvest-indicators study.pk %}'>{% trans "Indicators" context "Menu" %}</a>
    </li>
    {% endifequal %}
    {% ifequal category 'animals'%}
    <li{% ifequal action 'herd'%} class='ui-state-active'{% endifequal%}>
        <a href='{% url simulabio:animals-herd study.pk %}'>{% trans "Herd" %}</a>
    </li>
    <li{% ifequal action 'feed'%} class='ui-state-active'{% endifequal%}>
        <a href='{% url simulabio:animals-feed-season study.pk "dc" %}'>{% trans "Feed" %}</a>
    </li>
    {% endifequal %}
    {% ifequal category 'balance'%}
    <li{% ifequal action 'production'%} class='ui-state-active'{% endifequal%}>
        <a href='{% url simulabio:harvest-production study.pk %}'>{% trans "Production" context "Menu" %}</a>
    </li>
    <li{% ifequal action 'primary-balance'%} class='ui-state-active'{% endifequal%}>
        <a href='{% url simulabio:animals-primary-balance study.pk %}'>{% trans "Areas" %}</a>
    </li>
    <li{% ifequal action 'fodder-balance'%} class='ui-state-active'{% endifequal%}>
        <a href='{% url simulabio:balance-fodder study.pk %}'>{% trans "Balance Fodder" %}</a>
    </li>
    {% endifequal %}
    {% ifequal category 'economy'%}
    <li{% ifequal action 'simple-economy'%} class='ui-state-active'{% endifequal%}>
        <a href='{% url simulabio:economy-simple-initial study.pk %}'>{% trans "Simplified" %}</a>
    </li>
    <li{% ifequal action 'full-economy'%} class='ui-state-active'{% endifequal%}>
        <a href='{% url simulabio:economy-full-harvest-workshop study.pk %}'>{% trans "Full" %}</a>
    </li>
    {% endifequal %}
</ul>
<ul id='option-study-menu' class='menu'>
    {% ifequal category 'harvest'%}
    <li{% ifequal action 'settings'%} class='ui-state-active'{% endifequal%}>
        <a href='{% url simulabio:harvest-settings study.pk %}'>{% trans "Settings" %}</a>
    </li>
    {% endifequal %}
    {% ifequal category 'animals'%}
    <li{% ifequal action 'litter'%} class='ui-state-active'{% endifequal%}>
        <a href='{% url simulabio:animals-litter study.pk "dc" %}'>{% trans "Litter" %}</a>
    </li>
    <li{% ifequal action 'milk'%} class='ui-state-active'{% endifequal%}>
        <a href='{% url simulabio:milk-production study.pk%}'>{% trans "Milk" %}</a>
    </li>
    {% endifequal %}
    {% ifequal category 'economy'%}
    <li{% ifequal action 'economy-settings'%} class='ui-state-active'{% endifequal%}>
        <a href='{% url simulabio:economy-settings study.pk %}'>{% trans "Settings" %}</a>
    </li>
    {% endifequal %}
</ul>
