{% load i18n %}
<div id="{{main_id}}" class='centered'>
    {% for item in item_list %}
    <input type='{% if all_active %}checkbox{%else%}radio{%endif%}' name='{{main_id}}' id='step_{{item.value}}' value='{{item.value}}'{% if selected == item.value or all_active%} checked='checked'{% endif %}/><label for='step_{{item.value}}'>{{item.label}}</label>
    {% endfor %}
</div>
<script type='text/javascript'>
$(document).ready(function(){
    $("#{{main_id}}").buttonset();
    {% if not all_active %}$('#{{main_id}} input[type="radio"]').click(function(){
        window.location.replace("{{url}}" + $(this).val() + "/" {% if end_url %}+ "{{end_url}}"{% endif %});
    });{%else%}
    $("#{{main_id}} > input:checkbox").button({disabled:true});
    {% endif %}
});
</script>

