{% load i18n %}
<div id="expenses_revenues" class='centered'>
    <input type='radio' name='switch_expenses_revenues' id='step_switch_revenues' value='revenues'{% if state != 'expenses' %} checked='checked'{% endif %}/>
    <label for='step_switch_revenues'>{% trans "Revenues" %}</label>
    <input type='radio' name='switch_expenses_revenues' id='step_switch_expenses' value='expenses'{% if state == 'expenses' %}  checked='checked'{% endif %}/>
    <label for='step_switch_expenses'>{% trans "Expenses" %}</label>
</div>
<script type='text/javascript'>
$(document).ready(function(){
    $("#expenses_revenues").buttonset();
    $('#step_switch_expenses').click(function(){
        $('#revenues').fadeOut('slow', function(){$('#expenses').fadeIn('slow');});
    });
    $('#step_switch_revenues').click(function(){
        $('#expenses').fadeOut('slow', function(){$('#revenues').fadeIn('slow');});
    });
    {% if state == 'expenses' %}$('#revenues').fadeOut('slow', function(){$('#expenses').fadeIn('slow');});{% endif %}
    {% if state != 'expenses' %}$('#expenses').fadeOut('slow', function(){$('#revenues').fadeIn('slow');});{% endif %}
});
</script>


