{% load i18n %}
    <tr>
        <th><label for='{{field.id}}'>{{field.label}}{% trans ":"%}</label></th>
        <td>
        {% if field.errors %}<div class='errors'>{{ field.errors.as_ul }}</div>{% endif %}
        {{ field }}
        </td>
    </tr>
