{% load i18n %}
    {% if display_header %}
    <thead>
    <tr>
      {% if main_label %}<th>{{main_label}}</th>{%else%}<td class='firstcol-spacer'></td>{% endif %}{% for year_form in year_forms %}
      <th>{{year_form.verbose_name}}</th>{% endfor%}
      {% if has_delete %}<th>{% trans "Delete" %}</th>{% endif %}
    </tr>
    </thead>
    {% endif %}
    {% for label, cls, filds in fields %}
    {% if not skip or not forloop.first %}<tr class='{% if forloop.counter0|divisibleby:2 %}odd{% else %}even{% endif %} {{cls}}'>{% endif %}
      <th class='header'>{{ label }}</th>{% for field in filds %}
      <td> {% for error in field.errors %}<span class='error'>{{error}}</span>{% endfor%}{{field}}</td>{% endfor %}
    </tr>{% endfor %}
    <tr class='hidden'><td>{% for hidden in hidden_fields %}{{ hidden }}{% endfor %}</td></tr>
