{% load i18n range %}
    <thead>
    <tr>
        <td class='firstcol-spacer'> </td>
        {% if has_diag %}<th{% if headers_len > 1 %} colspan='{{headers_len}}'{% endif %}>{% trans "Diag."%}</th>{% endif %}
        {% for idx in nb_transition_years|get_range1 %}
        <th{% if headers_len > 1 %} colspan='{{headers_len}}'{% endif %}>n + {{idx}}</th>{% endfor %}
        {% if has_project %}<th{% if headers_len > 1 %} colspan='{{headers_len}}'{% endif %}>{% trans "Project"%}</th>{% endif %}
        {% if has_delete %}<th{% if headers %} rowspan='2'{% endif %}>{% trans "Delete" %}</th>{% endif %}
    </tr>
    {% if headers %}<tr>
        <td class='firstcol-spacer'></td>
        {% for idx in nb_years|get_range %}{% for header in headers %}
        <th>{% trans header %}</th>{% endfor %}{% endfor %}
    </tr>{% endif %}
    </thead>
