{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div id='login-form' class='window'>
<p>{% trans "Logged out" %}</p>
<p><a href='{% url auth_login %}'>{% trans "Log in" %}</a></p>
</div>
{% endblock %}
