{% extends "base.html" %}
{% load i18n simulabio_tags %}
{% load url from future %}

{% block bodyclass%} class='study-pages study-gen'{% endblock %}

{% block top%}
    {% main_menu %}
{% if study %}
    {% study_menu study 'main' 'report_gen' gen_forms %}
{% endif %}
{% endblock %}

{% block content %}
<div id='contener'>
{% if study %}

{% if form.non_field_errors %}
<div class='centered ui-widget-content ui-corner-bottom'>
    <div class="warning ui-state-error ui-corner-all">
        {% for error in form.non_field_errors %}<p><span class="ui-icon ui-icon-alert"></span>
        <span>{{error}}</span></p>{% endfor %}
    </div>
</div>
{% endif %}

<h4 class='ui-widget-header ui-corner-top'>{% trans "Report" %}</h4>
<div class='centered ui-widget-content ui-corner-bottom'>
<strong class='error'>La génération de rapport a été désactivée sur la version de démonstration.</strong>
</div>
{% endif %}
</div>
{% endblock %}

