{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <link rel="shortcut icon" href="{{STATIC_URL}}/simulabio/images/favicon.png"/>
    <title>{% block title %}{% if APP_NAME %}{{APP_NAME}}{% else %}SimulaBIO{%endif%}{% endblock %}
    </title>
    <script language="javascript" type="text/javascript" src="{{JQUERY_URL}}"></script>
    <script language="javascript" type="text/javascript" src="{{JQUERY_UI_URL}}jquery-ui.js"></script>
    <script language="javascript" type="text/javascript" src="{{JQUERY_UI_URL}}ui/i18n/jquery.ui.datepicker-{{LANGUAGE}}.js"></script>
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}/simulabio/js/interface.js"></script>
    <link type="text/css" href="{{JQUERY_UI_CSS}}" rel="stylesheet" />
    {% block extra_head %}
    {% endblock %}
    <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}simulabio/css/styles.css" />
    <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}simulabio/css/styles-new.css" />
</head>
<body{% block bodyclass%}{% if step %} class='body-steps body-step-{{ step }}'{% endif%}{% endblock %}>
<div id='waiting'>
<img src="{{STATIC_URL}}simulabio/img/ajax-loader.gif" class="ajax-loader"/>
<p>{% trans "Calculation pending... Please wait." %}</p></div>
<script type='text/javascript'>
$(document).ready(function(){
    $('#waiting').center();
{% if study and locked and locklist %}
    $('#waiting').show();
    var updatedCheck = window.setInterval(
        function(){$.ajax({
            url: "{% url simulabio:has-lock study.pk locklist %}",
            dataType: "text", 
            success: function(data){
                if (data != 'true') {
                    window.location.reload();
                    window.clearInterval(updatedCheck);
                }
            }

            })}
        , 10000);
{% endif %}
});
</script>
<div id='message'>
  <div class="ui-state-highlight">
    <p>Attention ! Chaque heure cette instance est réinitialisée. Aucune donnée n'est enregistrée.</p>
  </div>
  <div class="ui-state-highlight">
{% if MESSAGE %}
    <p>{{MESSAGE|safe}} <a href='#' id='message-close'>x</a></p>
{% endif %}
  </div>
</div>
<div id='wrapper'>
  <div id="help">
  <div id='help-close'>x</div>
  {% block help %}{% trans "No help is available for this page." %}{% endblock %}
  </div>
  {% if farm.pk %}
  <div id="farm-studies">
  <ul>{% for stud in studies %}
    <li><a href='{% url simulabio:study-update farm.pk stud.pk %}'>{{stud}}</a></li>{% endfor %}
    <li class='new'><a href='{% url simulabio:study-add farm.pk %}'>{% trans "New study" %}</a></li>
  </ul>
  </div>{% endif %}
  <div id="content"{% if content_class %} class='{{content_class}}'{%endif%}>
    {% block top %}{% endblock %}
    {% block content %}{% endblock %}
    {% block comment %}
    {% if comment_form %}
<div id='comment-form'>
<form enctype="multipart/form-data" method='post' action='{{url}}' class='simple'>
    {% csrf_token %}
    {{comment_form}}
    <p class='validate'><input type='submit' value="{% trans 'Save' %}"/></p>
</form>
</div>
    {% endif %}
    {% endblock %}
    {% include "blocks/sql_debug.html" %}
  </div>

  <div id="footer">
    {% block footer %}
    <div id='footer_content'>
      <p><strong class='simulabio'>Simulabio</strong> est un projet réalisé par (...)</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. ...</p>
    </div>
    {% endblock %}
  </div>
</div>
</body>

</html>
